<a href="https://colab.research.google.com/github/jbshirk/DS-Unit-1-Sprint-1-Dealing-With-Data/blob/master/module4-makefeatures/Joseph_Shirk_LS_DS_114_Make_Features_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img align="left" src="https://lever-client-logos.s3.amazonaws.com/864372b1-534c-480e-acd5-9711f850815c-1524247202159.png" width=200>

# ASSIGNMENT

- Replicate the lesson code.

 - This means that if you haven't followed along already, type out the things that we did in class. Forcing your fingers to hit each key will help you internalize the syntax of what we're doing.
 - [Lambda Learning Method for DS - By Ryan Herr](https://docs.google.com/document/d/1ubOw9B3Hfip27hF2ZFnW3a3z9xAgrUDRReOEo-FHCVs/edit?usp=sharing)
- Convert the `term` column from string to integer.
- Make a column named `loan_status_is_great`. It should contain the integer 1 if `loan_status` is "Current" or "Fully Paid." Else it should contain the integer 0.

- Make `last_pymnt_d_month` and `last_pymnt_d_year` columns.

### Save to:
module4-makefeatures/

# Lending Club

In [0]:
import pandas as pd
import numpy as np
import re

In [0]:
lcurl = 'https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip'
!wget https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip

--2019-09-13 00:02:52--  https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip
Resolving resources.lendingclub.com (resources.lendingclub.com)... 64.48.1.20
Connecting to resources.lendingclub.com (resources.lendingclub.com)|64.48.1.20|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [application/zip]
Saving to: ‘LoanStats_2018Q4.csv.zip’

LoanStats_2018Q4.cs     [                 <=>]  21.58M   902KB/s    in 25s

2019-09-13 00:03:17 (896 KB/s) - ‘LoanStats_2018Q4.csv.zip’ saved [22631049]

In [0]:
!unzip LoanStats_2018Q4.csv.zip

Archive:  LoanStats_2018Q4.csv.zip
  inflating: LoanStats_2018Q4.csv

In [0]:
!head LoanStats_2018Q4.csv

Notes offered by Prospectus (https://www.lendingclub.com/info/prospectus.action)
"id","member_id","loan_amnt","funded_amnt","funded_amnt_inv","term","int_rate","installment","grade","sub_grade","emp_title","emp_length","home_ownership","annual_inc","verification_status","issue_d","loan_status","pymnt_plan","url","desc","purpose","title","zip_code","addr_state","dti","delinq_2yrs","earliest_cr_line","inq_last_6mths","mths_since_last_delinq","mths_since_last_record","open_acc","pub_rec","revol_bal","revol_util","total_acc","initial_list_status","out_prncp","out_prncp_inv","total_pymnt","total_pymnt_inv","total_rec_prncp","total_rec_int","total_rec_late_fee","recoveries","collection_recovery_fee","last_pymnt_d","last_pymnt_amnt","next_pymnt_d","last_credit_pull_d","collections_12_mths_ex_med","mths_since_last_major_derog","policy_code","application_type","annual_inc_joint","dti_joint","verification_status_joint","acc_now_delinq","tot_coll_amt","tot_cur_bal","open_acc_6m","open_act_il","open_il_12m","open_il_24m","mths_since_rcnt_il","total_bal_il","il_util","open_rv_12m","open_rv_24m","max_bal_bc","all_util","total_rev_hi_lim","inq_fi","total_cu_tl","inq_last_12m","acc_open_past_24mths","avg_cur_bal","bc_open_to_buy","bc_util","chargeoff_within_12_mths","delinq_amnt","mo_sin_old_il_acct","mo_sin_old_rev_tl_op","mo_sin_rcnt_rev_tl_op","mo_sin_rcnt_tl","mort_acc","mths_since_recent_bc","mths_since_recent_bc_dlq","mths_since_recent_inq","mths_since_recent_revol_delinq","num_accts_ever_120_pd","num_actv_bc_tl","num_actv_rev_tl","num_bc_sats","num_bc_tl","num_il_tl","num_op_rev_tl","num_rev_accts","num_rev_tl_bal_gt_0","num_sats","num_tl_120dpd_2m","num_tl_30dpd","num_tl_90g_dpd_24m","num_tl_op_past_12m","pct_tl_nvr_dlq","percent_bc_gt_75","pub_rec_bankruptcies","tax_liens","tot_hi_cred_lim","total_bal_ex_mort","total_bc_limit","total_il_high_credit_limit","revol_bal_joint","sec_app_earliest_cr_line","sec_app_inq_last_6mths","sec_app_mort_acc","sec_app_open_acc","sec_app_revol_util","sec_app_open_act_il","sec_app_num_rev_accts","sec_app_chargeoff_within_12_mths","sec_app_collections_12_mths_ex_med","sec_app_mths_since_last_major_derog","hardship_flag","hardship_type","hardship_reason","hardship_status","deferral_term","hardship_amount","hardship_start_date","hardship_end_date","payment_plan_start_date","hardship_length","hardship_dpd","hardship_loan_status","orig_projected_additional_accrued_interest","hardship_payoff_balance_amount","hardship_last_payment_amount","debt_settlement_flag","debt_settlement_flag_date","settlement_status","settlement_date","settlement_amount","settlement_percentage","settlement_term"
"","","10000","10000","10000"," 36 months"," 10.33%","324.23","B","B1","","< 1 year","MORTGAGE","280000","Not Verified","Dec-2018","Current","n","","","debt_consolidation","Debt consolidation","974xx","OR","6.15","2","Jan-1996","0","18","","14","0","9082","38%","23","w","8289.30","8289.30","2261.0","2261.00","1710.70","550.30","0.0","0.0","0.0","Jul-2019","324.23","Sep-2019","Aug-2019","0","","1","Individual","","","","0","671","246828","1","3","2","3","1","48552","62","1","3","4923","46","23900","2","7","1","7","17631","11897","43.1","0","0","158","275","11","1","1","11","","11","","0","3","4","7","7","10","9","11","4","14","0","0","0","4","91.3","28.6","0","0","367828","61364","20900","54912","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","4000","4000","4000"," 36 months"," 23.40%","155.68","E","E1","Security","3 years","RENT","90000","Source Verified","Dec-2018","Current","n","","","debt_consolidation","Debt consolidation","070xx","NJ","26.33","0","Sep-2006","4","59","","15","0","5199","19.2%","20","w","3423.38","3423.38","1081.96","1081.96","576.62","505.34","0.0","0.0","0.0","Jul-2019","155.68","Sep-2019","Aug-2019","0","","1","Individual","","","","0","0","66926","5","4","3","4","5","61727","86","6","11","1353","68","27100","4","0","4","15","4462","20174","7.9","0","0","147","118","2","2","0","2","","0","","0","5","7","9","9","8","11","12","7","15","0","0","0","9","95","0","0","0","98655","66926","21900","71555","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","5000","5000","5000"," 36 months"," 17.97%","180.69","D","D1","Administrative","6 years","MORTGAGE","59280","Source Verified","Dec-2018","Late (31-120 days)","n","","","debt_consolidation","Debt consolidation","490xx","MI","10.51","0","Apr-2011","0","","","8","0","4599","19.1%","13","w","4456.17","4456.17","895.96","895.96","543.83","352.13","0.0","0.0","0.0","Jun-2019","180.69","Sep-2019","Aug-2019","0","","1","Individual","","","","0","0","110299","0","1","0","2","14","7150","72","0","2","0","35","24100","1","5","0","4","18383","13800","0","0","0","87","92","15","14","2","77","","14","","0","0","3","3","3","4","6","7","3","8","0","0","0","0","100","0","0","0","136927","11749","13800","10000","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","23000","23000","23000"," 60 months"," 20.89%","620.81","D","D4","Operator","5 years","RENT","68107","Source Verified","Dec-2018","Current","n","","","debt_consolidation","Debt consolidation","672xx","KS","0.52","0","Feb-1997","0","","","5","0","976","13%","10","w","21353.16","21353.16","4307.45","4307.45","1646.84","2660.61","0.0","0.0","0.0","Jul-2019","620.81","Sep-2019","Aug-2019","1","","1","Individual","","","","0","2693","976","0","0","0","0","36","0","","3","4","0","13","7500","2","2","4","4","195","3300","0","0","0","237","262","10","10","0","10","","9","","0","0","1","3","4","3","5","7","1","5","0","0","0","3","100","0","0","0","7500","976","3300","0","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","8000","8000","8000"," 36 months"," 23.40%","311.35","E","E1","Manager","10+ years","OWN","43000","Source Verified","Dec-2018","Current","n","","","debt_consolidation","Debt consolidation","357xx","AL","33.24","0","Jan-1995","0","","107","8","1","9019","81.3%","16","w","6846.83","6846.83","2163.85","2163.85","1153.17","1010.68","0.0","0.0","0.0","Jul-2019","311.35","Sep-2019","Aug-2019","0","","1","Individual","","","","0","0","169223","0","3","2","2","7","22059","69","0","0","2174","72","11100","1","1","1","2","21153","126","94.5","0","0","148","287","44","7","1","51","","7","","0","1","4","1","2","8","4","7","4","8","0","0","0","2","100","100","1","0","199744","31078","2300","32206","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","32075","32075","32075"," 60 months"," 11.80%","710.26","B","B4","Nursing Supervisor","10+ years","MORTGAGE","150000","Not Verified","Dec-2018","Current","n","","","credit_card","Credit card refinancing","231xx","VA","22.21","0","Aug-2005","0","","","17","0","19077","32%","24","w","29228.12","29228.12","4940.28","4940.28","2846.88","2093.40","0.0","0.0","0.0","Jul-2019","710.26","Sep-2019","Aug-2019","0","","1","Individual","","","","0","0","272667","1","4","1","1","9","37558","47","1","1","3910","41","59600","1","2","0","3","16039","10446","47.8","0","0","160","70","4","4","2","27","","14","","0","4","10","4","4","8","12","14","10","17","0","0","0","2","100","50","0","0","360433","56635","20000","80125","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","9600","9600","9600"," 36 months"," 12.98%","323.37","B","B5","","n/a","MORTGAGE","35704","Not Verified","Dec-2018","Current","n","","","home_improvement","Home improvement","401xx","KY","0.84","0","Nov-2003","0","69","","5","0","748","11.5%","23","w","8012.51","8012.51","2287.83","2287.83","1587.49","700.34","0.0","0.0","0.0","Aug-2019","323.37","Sep-2019","Aug-2019","0","","1","Individual","","","","0","0","748","0","0","0","0","44","0","","0","3","748","12","6500","0","0","1","3","150","3452","17.8","0","0","181","100","13","13","0","16","","3","","0","1","1","2","2","16","5","7","1","5","0","0","0","0","95.5","0","0","0","6500","748","4200","0","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","30000","30000","30000"," 60 months"," 18.94%","777.23","D","D2","Postmaster ","10+ years","MORTGAGE","90000","Source Verified","Dec-2018","Current","n","","","debt_consolidation","Debt consolidation","713xx","LA","26.52","0","Jun-1987","0","71","75","13","1","12315","24.2%","44","w","19969.40","19969.40","12893.26","12893.26","10030.60","2862.66","0.0","0.0","0.0","Jul-2019","777.23","Sep-2019","Aug-2019","0","","1","Individual","","","","0","1208","321915","4","4","2","3","3","87153","88","4","5","998","57","50800","2","15","2","10","24763","13761","8.3","0","0","163","378","4","3","3","4","","4","","0","2","4","4","9","27","8","14","4","13","0","0","0","6","95","0","1","0","372872","99468","15000","94072","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""

In [0]:
!tail LoanStats_2018Q4.csv

"","","5600","5600","5600"," 36 months"," 13.56%","190.21","C","C1","","n/a","RENT","15600","Not Verified","Oct-2018","Current","n","","","credit_card","Credit card refinancing","836xx","ID","15.31","0","Aug-2012","0","","97","9","1","5996","34.5%","11","w","4264.17","4264.17","1891.55","1891.55","1335.83","555.72","0.0","0.0","0.0","Aug-2019","190.21","Sep-2019","Aug-2019","0","","1","Individual","","","","0","0","5996","0","0","0","1","20","0","","0","2","3017","35","17400","1","0","0","3","750","4689","45.5","0","0","20","73","13","13","0","13","","20","","0","3","5","4","4","1","9","10","5","9","0","0","0","0","100","25","1","0","17400","5996","8600","0","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","23000","23000","23000"," 36 months"," 15.02%","797.53","C","C3","Tax Consultant","10+ years","MORTGAGE","75000","Source Verified","Oct-2018","Charged Off","n","","","debt_consolidation","Debt consolidation","352xx","AL","20.95","1","Aug-1985","2","22","","12","0","22465","43.6%","28","w","0.00","0.00","1547.08","1547.08","1025.67","521.41","0.0","0.0","0.0","Dec-2018","797.53","","Nov-2018","0","","1","Individual","","","","0","0","259658","4","2","3","3","6","18149","86","4","6","12843","56","51500","2","2","5","11","21638","26321","44.1","0","0","12","397","4","4","6","5","22","4","22","0","4","5","7","14","3","9","19","5","12","0","0","0","7","96.4","14.3","0","0","296500","40614","47100","21000","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","10000","10000","10000"," 36 months"," 15.02%","346.76","C","C3","security guard","5 years","MORTGAGE","38000","Not Verified","Oct-2018","Current","n","","","debt_consolidation","Debt consolidation","443xx","OH","13.16","3","Jul-1982","0","6","","11","0","5634","37.1%","16","w","7655.00","7655.00","3459.26","3459.26","2345.00","1114.26","0.0","0.0","0.0","Aug-2019","346.76","Sep-2019","Aug-2019","0","","1","Individual","","","","0","155","77424","0","1","0","0","34","200","10","1","1","1866","42","15200","2","0","0","2","7039","4537","50.1","0","0","34","434","11","11","3","11","6","17","6","0","3","5","5","6","1","8","11","5","11","0","0","0","1","73.3","40","0","0","91403","9323","9100","2000","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","5000","5000","5000"," 36 months"," 13.56%","169.83","C","C1","Payoff Clerk","10+ years","MORTGAGE","35360","Not Verified","Oct-2018","Current","n","","","debt_consolidation","Debt consolidation","381xx","TN","11.3","1","Jun-2006","0","21","","9","0","2597","27.3%","15","f","3807.30","3807.30","1694.53","1694.53","1192.70","501.83","0.0","0.0","0.0","Aug-2019","169.83","Sep-2019","Aug-2019","0","","1","Individual","","","","0","1413","69785","0","2","0","1","16","2379","40","3","4","1826","32","9500","0","0","1","5","8723","1174","60.9","0","0","147","85","9","9","2","10","21","9","21","0","1","3","2","2","6","6","7","3","9","0","0","0","3","92.9","50","0","0","93908","4976","3000","6028","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","10000","10000","9750"," 36 months"," 11.06%","327.68","B","B3","","n/a","RENT","44400","Source Verified","Oct-2018","Current","n","","","credit_card","Credit card refinancing","980xx","WA","11.78","0","Oct-2008","2","40","","15","0","6269","13.1%","25","f","7544.75","7356.13","3261.44","3179.90","2455.25","806.19","0.0","0.0","0.0","Aug-2019","327.68","Sep-2019","Aug-2019","0","53","1","Individual","","","","0","520","16440","3","1","1","1","2","10171","100","2","5","404","28","47700","0","3","5","6","1265","20037","2.3","0","0","61","119","1","1","0","1","","1","40","1","2","4","6","8","3","14","22","4","15","0","0","0","3","92","0","0","0","57871","16440","20500","10171","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","10000","10000","10000"," 36 months"," 16.91%","356.08","C","C5","Key Accounts Manager","2 years","RENT","80000","Not Verified","Oct-2018","Current","n","","","other","Other","021xx","MA","17.72","1","Sep-2006","0","14","","17","0","1942","30.8%","31","w","7706.67","7706.67","3551.41","3551.41","2293.33","1258.08","0.0","0.0","0.0","Aug-2019","356.08","Sep-2019","Aug-2019","0","25","1","Individual","","","","0","0","59194","0","15","1","1","12","57252","85","0","0","1942","80","6300","0","5","0","1","3482","2058","48.5","0","0","144","142","40","12","0","131","30","","30","3","1","1","1","5","22","2","9","1","17","0","0","0","1","74.2","0","0","0","73669","59194","4000","67369","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""


Total amount funded in policy code 1: 2050909275
Total amount funded in policy code 2: 820109297

In [0]:
df1 = pd.read_csv('LoanStats_2018Q4.csv',header=1,skipfooter=2,engine='python')
df1.head()

   id  member_id  ...  settlement_percentage  settlement_term
0 NaN        NaN  ...                    NaN              NaN
1 NaN        NaN  ...                    NaN              NaN
2 NaN        NaN  ...                    NaN              NaN
3 NaN        NaN  ...                    NaN              NaN
4 NaN        NaN  ...                    NaN              NaN

[5 rows x 144 columns]

### Hygiene

In [0]:
df1.shape

(128412, 144)

In [0]:
df1.isnull().sum()

In [0]:
df1.isnull().sum().sort_values(ascending=False)

In [0]:
df1[df1.isnull().sum() > 111000].min()

In [0]:
# starting conservatively, drop cols that are all null
df1.dropna(axis=1,how='all').describe()

           loan_amnt    funded_amnt  ...  settlement_percentage  settlement_term
count  128412.000000  128412.000000  ...             111.000000       111.000000
mean    15971.321021   15971.321021  ...              53.095495        18.045045
std     10150.384233   10150.384233  ...              10.260846         6.577354
min      1000.000000    1000.000000  ...              40.000000         1.000000
25%      8000.000000    8000.000000  ...              45.000000        14.000000
50%     14000.000000   14000.000000  ...              50.000000        18.000000
75%     21600.000000   21600.000000  ...              60.000000        24.000000
max     40000.000000   40000.000000  ...              98.240000        24.000000

[8 rows x 104 columns]

In [0]:
df1 = df1.dropna(axis=1,how='all')

In [0]:
df1.head()

   loan_amnt  funded_amnt  ...  settlement_percentage settlement_term
0      10000        10000  ...                    NaN             NaN
1       4000         4000  ...                    NaN             NaN
2       5000         5000  ...                    NaN             NaN
3      23000        23000  ...                    NaN             NaN
4       8000         8000  ...                    NaN             NaN

[5 rows x 140 columns]

## Convert the term column from string to integer.

In [0]:
df1.describe(exclude='number')

              term int_rate  ... settlement_status settlement_date
count       128412   128412  ...               111             111
unique           2       46  ...                 3               7
top      36 months   13.56%  ...            ACTIVE        Jul-2019
freq         88179     6974  ...                99              43

[4 rows x 36 columns]

In [0]:
np.unique(df1['term'])

array([' 36 months', ' 60 months'], dtype=object)

In [0]:
testvals = [' 36 months', ' 60 months']

most parsimonious solution for df

https://stackoverflow.com/questions/22588316/pandas-applying-regex-to-replace-values

```
df['P'] = df['P'].str.replace(r'\D+', '').astype('int')```

In [0]:
df1['term'].str.replace(r'\D','').astype('int').head()

0    36
1    36
2    36
3    60
4    36
Name: term, dtype: int64

In [0]:
# creating new column for term

df1['term_months'] = df1['term'].str.replace(r'\D', '').astype('int')

In [0]:
df1.head()

   loan_amnt  funded_amnt  ...  settlement_term term_months
0      10000        10000  ...              NaN          36
1       4000         4000  ...              NaN          36
2       5000         5000  ...              NaN          36
3      23000        23000  ...              NaN          60
4       8000         8000  ...              NaN          36

[5 rows x 141 columns]

In [0]:
# it's safe to drop old term col

df1 = df1.drop('term',axis=1)

## Make a column named `loan_status_is_great`. 
It should contain the integer 1 if `loan_status` is "Current" or "Fully Paid." Else it should contain the integer 0.

In [0]:
df1['loan_status'].describe()

count      128412
unique          7
top       Current
freq       108584
Name: loan_status, dtype: object

In [0]:
np.unique(df1['loan_status'])

array(['Charged Off', 'Current', 'Default', 'Fully Paid',
       'In Grace Period', 'Late (16-30 days)', 'Late (31-120 days)'],
      dtype=object)

In [0]:
# df1['loan_status'].str.replace(r'rr|ll', '1').astype('bool') #returns all records; match isn't working

In [0]:
#np.where(df1.loan_status.str.replace(r'rr|ll',1),True,False)

In [0]:
import re

In [0]:
#re.sub(r'rr|ll','1',df1['loan_status'])

In [0]:
df1['loan_status'].replace(to_replace="rr|ll",value=1,regex=True) 
# at least the pattern works ; will have to set others to False after

0                          1
1                          1
2         Late (31-120 days)
3                          1
4                          1
5                          1
6                          1
7                          1
8                          1
9                          1
10                         1
11                         1
12                         1
13                         1
14                         1
15                         1
16                         1
17                         1
18                         1
19                         1
20                         1
21                         1
22                         1
23                         1
24                         1
25                         1
26                         1
27                         1
28                         1
29                         1
                 ...
128382                     1
128383                     1
128384                     1
128385                     1
128386                     1
128387                     1
128388                     1
128389           Charged Off
128390    Late (31-120 days)
128391                     1
128392                     1
128393                     1
128394                     1
128395                     1
128396                     1
128397                     1
128398                     1
128399                     1
128400                     1
128401                     1
128402                     1
128403                     1
128404                     1
128405                     1
128406                     1
128407           Charged Off
128408                     1
128409                     1
128410                     1
128411                     1
Name: loan_status, Length: 128412, dtype: object

In [0]:
df1['loan_status_is_great'] = df1['loan_status'].replace(to_replace="rr|ll",value=1,regex=True)

In [0]:
df1['loan_status_is_great'].head()

0                     1
1                     1
2    Late (31-120 days)
3                     1
4                     1
Name: loan_status_is_great, dtype: object

In [0]:
df1['loan_status_is_great'].value_counts(dropna=False).head()

1                     122513
Late (31-120 days)      2291
Charged Off             2194
In Grace Period          849
Late (16-30 days)        560
Name: loan_status_is_great, dtype: int64

In [0]:
#df1['loan_status_is_great'].replace(to_replace="~True",value=False,regex=True)

In [0]:
#df1['loan_status_is_great'].str.contains("~True") # I think this will replace my True 's with NaN

In [0]:
#df1['loan_status_is_great'].astype("bool") #converts everthing to True

In [0]:
# try inverting the logic of the successful match
df1['loan_status'].replace(to_replace="~1",value=0,regex=True) # looks like a fail ; did not catch everything

0                    Current
1                    Current
2         Late (31-120 days)
3                    Current
4                    Current
5                    Current
6                    Current
7                    Current
8                 Fully Paid
9                    Current
10                   Current
11                   Current
12                   Current
13                   Current
14                   Current
15                   Current
16                   Current
17                   Current
18                   Current
19                Fully Paid
20                   Current
21                   Current
22                   Current
23                   Current
24                   Current
25                   Current
26                   Current
27                   Current
28                   Current
29                   Current
                 ...
128382               Current
128383               Current
128384               Current
128385               Current
128386               Current
128387               Current
128388               Current
128389           Charged Off
128390    Late (31-120 days)
128391            Fully Paid
128392               Current
128393               Current
128394               Current
128395               Current
128396               Current
128397            Fully Paid
128398               Current
128399               Current
128400               Current
128401               Current
128402               Current
128403               Current
128404            Fully Paid
128405               Current
128406               Current
128407           Charged Off
128408               Current
128409               Current
128410               Current
128411               Current
Name: loan_status, Length: 128412, dtype: object

In [0]:
df1[["loan_status","loan_status_is_great"]].tail(50)

               loan_status loan_status_is_great
128362             Current                    1
128363             Current                    1
128364             Current                    1
128365             Current                    1
128366             Current                    1
128367             Current                    1
128368             Current                    1
128369             Current                    1
128370             Current                    1
128371          Fully Paid                    1
128372             Current                    1
128373             Current                    1
128374          Fully Paid                    1
128375             Current                    1
128376             Current                    1
128377             Current                    1
128378             Current                    1
128379             Current                    1
128380             Current                    1
128381             Current                    1
128382             Current                    1
128383             Current                    1
128384             Current                    1
128385             Current                    1
128386             Current                    1
128387             Current                    1
128388             Current                    1
128389         Charged Off          Charged Off
128390  Late (31-120 days)   Late (31-120 days)
128391          Fully Paid                    1
128392             Current                    1
128393             Current                    1
128394             Current                    1
128395             Current                    1
128396             Current                    1
128397          Fully Paid                    1
128398             Current                    1
128399             Current                    1
128400             Current                    1
128401             Current                    1
128402             Current                    1
128403             Current                    1
128404          Fully Paid                    1
128405             Current                    1
128406             Current                    1
128407         Charged Off          Charged Off
128408             Current                    1
128409             Current                    1
128410             Current                    1
128411             Current                    1

In [0]:
df1['loan_status'].str.contains("1")

0         False
1         False
2          True
3         False
4         False
5         False
6         False
7         False
8         False
9         False
10        False
11        False
12        False
13        False
14        False
15        False
16        False
17        False
18        False
19        False
20        False
21        False
22        False
23        False
24        False
25        False
26        False
27        False
28        False
29        False
          ...
128382    False
128383    False
128384    False
128385    False
128386    False
128387    False
128388    False
128389    False
128390     True
128391    False
128392    False
128393    False
128394    False
128395    False
128396    False
128397    False
128398    False
128399    False
128400    False
128401    False
128402    False
128403    False
128404    False
128405    False
128406    False
128407    False
128408    False
128409    False
128410    False
128411    False
Name: loan_status, Length: 128412, dtype: bool

In [0]:
df1['loan_status_is_great']==1

0          True
1          True
2         False
3          True
4          True
5          True
6          True
7          True
8          True
9          True
10         True
11         True
12         True
13         True
14         True
15         True
16         True
17         True
18         True
19         True
20         True
21         True
22         True
23         True
24         True
25         True
26         True
27         True
28         True
29         True
          ...
128382     True
128383     True
128384     True
128385     True
128386     True
128387     True
128388     True
128389    False
128390    False
128391     True
128392     True
128393     True
128394     True
128395     True
128396     True
128397     True
128398     True
128399     True
128400     True
128401     True
128402     True
128403     True
128404     True
128405     True
128406     True
128407    False
128408     True
128409     True
128410     True
128411     True
Name: loan_status_is_great, Length: 128412, dtype: bool

In [0]:
df1[["loan_status","loan_status_is_great"]].where(df1['loan_status_is_great']==1).head(10)

  loan_status loan_status_is_great
0     Current                    1
1     Current                    1
2         NaN                  NaN
3     Current                    1
4     Current                    1
5     Current                    1
6     Current                    1
7     Current                    1
8  Fully Paid                    1
9     Current                    1

In [0]:
df1[["loan_status","loan_status_is_great"]].where(df1['loan_status_is_great']!=1).head(10)

          loan_status loan_status_is_great
0                 NaN                  NaN
1                 NaN                  NaN
2  Late (31-120 days)   Late (31-120 days)
3                 NaN                  NaN
4                 NaN                  NaN
5                 NaN                  NaN
6                 NaN                  NaN
7                 NaN                  NaN
8                 NaN                  NaN
9                 NaN                  NaN

In [0]:
df1[['loan_status','loan_status_is_great']].value_counts(dropna=False) # guess value_counts only works for one col

AttributeError: ignored

In [0]:
df1['loan_status'].value_counts(dropna=False)

Current               108584
Fully Paid             13929
Late (31-120 days)      2291
Charged Off             2194
In Grace Period          849
Late (16-30 days)        560
Default                    5
Name: loan_status, dtype: int64

In [0]:
df1['loan_status_is_great'].value_counts(dropna=False)

1                     122513
Late (31-120 days)      2291
Charged Off             2194
In Grace Period          849
Late (16-30 days)        560
Default                    5
Name: loan_status_is_great, dtype: int64

In [0]:
108584+13929

122513

In [0]:
# repl all that are not 1 with 0

df1['loan_status_is_great'].replace(to_replace=".+",value=0,regex=True) #anything that is more than 1 char long

0         1
1         1
2         0
3         1
4         1
5         1
6         1
7         1
8         1
9         1
10        1
11        1
12        1
13        1
14        1
15        1
16        1
17        1
18        1
19        1
20        1
21        1
22        1
23        1
24        1
25        1
26        1
27        1
28        1
29        1
         ..
128382    1
128383    1
128384    1
128385    1
128386    1
128387    1
128388    1
128389    0
128390    0
128391    1
128392    1
128393    1
128394    1
128395    1
128396    1
128397    1
128398    1
128399    1
128400    1
128401    1
128402    1
128403    1
128404    1
128405    1
128406    1
128407    0
128408    1
128409    1
128410    1
128411    1
Name: loan_status_is_great, Length: 128412, dtype: int64

In [0]:
df1['loan_status_is_great'] = df1['loan_status_is_great'].replace(to_replace=".+",value=0,regex=True)

In [0]:
df1['loan_status_is_great'].value_counts(dropna=False)

1    122513
0      5899
Name: loan_status_is_great, dtype: int64

In [0]:
# convert to int
df1['loan_status_is_great'] = pd.to_numeric(df1['loan_status_is_great'])

In [0]:
df1[["loan_status","loan_status_is_great"]].tail(20)

        loan_status  loan_status_is_great
128392      Current                     1
128393      Current                     1
128394      Current                     1
128395      Current                     1
128396      Current                     1
128397   Fully Paid                     1
128398      Current                     1
128399      Current                     1
128400      Current                     1
128401      Current                     1
128402      Current                     1
128403      Current                     1
128404   Fully Paid                     1
128405      Current                     1
128406      Current                     1
128407  Charged Off                     0
128408      Current                     1
128409      Current                     1
128410      Current                     1
128411      Current                     1

### Remark it would have been better to write a function and do a lambda replace as shown in lecture

In [0]:
def loan_is_good(loan_stat):
  if re.search("rr|ll",loan_stat,flags=0) : return 1 
  else: return 0
  # .replace(to_replace="rr|ll",value=1,regex=True)

In [0]:
loan_is_good("Current")

1

In [0]:
loan_is_good("Charged Off")

0

In [0]:
loan_is_good("Fully Paid")

1

In [0]:
df2 = pd.read_csv('LoanStats_2018Q4.csv',header=1,skipfooter=2,engine='python')
df2 = df2.dropna(axis=1,how='all')
df2['term_months'] = df2['term'].str.replace(r'\D', '').astype('int')
df2 = df2.drop('term',axis=1)
df2.head()

   loan_amnt  funded_amnt  ...  settlement_term term_months
0      10000        10000  ...              NaN          36
1       4000         4000  ...              NaN          36
2       5000         5000  ...              NaN          36
3      23000        23000  ...              NaN          60
4       8000         8000  ...              NaN          36

[5 rows x 140 columns]

In [0]:
df2['loan_status_is_great'] = df2['loan_status'].apply(loan_is_good)

NameError: ignored

In [0]:
df2.head()

   loan_amnt  funded_amnt  ...  term_months loan_status_is_great
0      10000        10000  ...           36                    1
1       4000         4000  ...           36                    1
2       5000         5000  ...           36                    0
3      23000        23000  ...           60                    1
4       8000         8000  ...           36                    1

[5 rows x 141 columns]

## Make `last_pymnt_d_month` and `last_pymnt_d_year` columns.

Decision: store these as strings? ints? or periods?

It seems that in the long run periods would be better. Is it worth the trouble for this exercise?

In [0]:
df2["last_pymnt_d"].describe()

count       128253
unique          12
top       Aug-2019
freq        105424
Name: last_pymnt_d, dtype: object

In [0]:
np.unique(df2["last_pymnt_d"]) #it's a str

In [0]:
pd.to_datetime(df2["last_pymnt_d"],format='%b-%Y').head() #worked without format spec

0   2019-07-01
1   2019-07-01
2   2019-06-01
3   2019-07-01
4   2019-07-01
Name: last_pymnt_d, dtype: datetime64[ns]

In [0]:
# it would be nice to split this col into two in one operation

def split_month_year(datetime):
  m = 0
  y = 0
  date = np.array(datetime, dtype=np.datetime64)
  print(date, date.dt.month)
  return [m,y]

# test
split_month_year(pd.to_datetime("Aug-2019"))

2019-08-01T00:00:00.000000

[0, 0]

Abandoning the above approach and going with the simpler int assignment from the lecture notebook.

In [26]:
pd.to_datetime(df2['last_pymnt_d']).dt.month #returns float!

0          7.0
1          7.0
2          6.0
3          7.0
4          7.0
5          7.0
6          8.0
7          7.0
8          5.0
9          7.0
10         7.0
11         7.0
12         7.0
13         7.0
14         7.0
15         8.0
16         8.0
17         7.0
18         7.0
19         4.0
20         7.0
21         7.0
22         7.0
23         7.0
24         7.0
25         7.0
26         7.0
27         7.0
28         7.0
29         7.0
          ...
128382     8.0
128383     8.0
128384     8.0
128385     8.0
128386     8.0
128387     8.0
128388     8.0
128389     3.0
128390     6.0
128391     1.0
128392     8.0
128393     8.0
128394     8.0
128395     8.0
128396     8.0
128397     8.0
128398     8.0
128399     8.0
128400     8.0
128401     8.0
128402     8.0
128403     8.0
128404     4.0
128405     8.0
128406     8.0
128407    12.0
128408     8.0
128409     8.0
128410     8.0
128411     8.0
Name: last_pymnt_d, Length: 128412, dtype: float64

In [28]:
pd.to_datetime(df2['last_pymnt_d']).dt.month.astype(int)
# error caused by some NaNs somewhere

ValueError: ignored

In [29]:
pd.to_datetime(df2['last_pymnt_d']).dt.month.astype(Int64)

NameError: ignored

In [34]:
# .fillna(0).astype(int)

df2['last_pymnt_d'].isnull().sum()

159

In [0]:
df2['last_pymnt_d'] = df2['last_pymnt_d'].fillna(0)

In [40]:
df2['last_pymnt_d'].isnull().sum()

0

In [44]:
pd.DataFrame([[pd.to_datetime(df2['last_pymnt_d']).dt.month.astype(int), pd.to_datetime(df2['last_pymnt_d']).dt.year.astype(int)]])

                                                   0                                                  1
0  0          7
1          7
2          6
3      ...  0         2019
1         2019
2         2019
3...

In [0]:
# munged the cols
# df2[['last_pymnt_d_month','last_pymnt_d_year']] = pd.DataFrame([[pd.to_datetime(df2['last_pymnt_d']).dt.month.astype(int), pd.to_datetime(df2['last_pymnt_d']).dt.year.astype(int)]])

In [46]:
df2.head()

   loan_amnt  ...                                  last_pymnt_d_year
0      10000  ...  0         2019
1         2019
2         2019
3...
1       4000  ...                                                NaN
2       5000  ...                                                NaN
3      23000  ...                                                NaN
4       8000  ...                                                NaN

[5 rows x 142 columns]

In [47]:
df2 = pd.read_csv('LoanStats_2018Q4.csv',header=1,skipfooter=2,engine='python')
df2 = df2.dropna(axis=1,how='all')
df2['term_months'] = df2['term'].str.replace(r'\D', '').astype('int')
df2 = df2.drop('term',axis=1)
df2['last_pymnt_d'] = df2['last_pymnt_d'].fillna(0) 
df2.head()

   loan_amnt  funded_amnt  ...  settlement_term term_months
0      10000        10000  ...              NaN          36
1       4000         4000  ...              NaN          36
2       5000         5000  ...              NaN          36
3      23000        23000  ...              NaN          60
4       8000         8000  ...              NaN          36

[5 rows x 140 columns]

In [0]:
df2['last_pymnt_d'] = df2['last_pymnt_d'].fillna(0)

In [0]:
df2[['last_pymnt_d_month','last_pymnt_d_year']] = pd.DataFrame([[pd.to_datetime(df2['last_pymnt_d']).dt.month.astype(int), pd.to_datetime(df2['last_pymnt_d']).dt.year.astype(int)]], index=df2.index)

In [51]:
df2.head()

   loan_amnt  ...                                  last_pymnt_d_year
0      10000  ...  0         2019
1         2019
2         2019
3...
1       4000  ...  0         2019
1         2019
2         2019
3...
2       5000  ...  0         2019
1         2019
2         2019
3...
3      23000  ...  0         2019
1         2019
2         2019
3...
4       8000  ...  0         2019
1         2019
2         2019
3...

[5 rows x 142 columns]

In [0]:
# munged in a different way ; reconstruct again
df2 = pd.read_csv('LoanStats_2018Q4.csv',header=1,skipfooter=2,engine='python')
df2 = df2.dropna(axis=1,how='all')
df2['term_months'] = df2['term'].str.replace(r'\D', '').astype('int')
df2 = df2.drop('term',axis=1)
df2['last_pymnt_d'] = df2['last_pymnt_d'].fillna(0)

In [53]:
# I've concluded that it's a bad idea to try to assign two columns at once, will do them sequentially

df2['last_pymnt_d_month'] = pd.to_datetime(df2['last_pymnt_d']).dt.month.astype(int)
df2['last_pymnt_d_year'] = pd.to_datetime(df2['last_pymnt_d']).dt.year.astype(int)
df2.head()

   loan_amnt  funded_amnt  ...  last_pymnt_d_month last_pymnt_d_year
0      10000        10000  ...                   7              2019
1       4000         4000  ...                   7              2019
2       5000         5000  ...                   6              2019
3      23000        23000  ...                   7              2019
4       8000         8000  ...                   7              2019

[5 rows x 142 columns]

# STRETCH OPTIONS

You can do more with the LendingClub or Instacart datasets.

LendingClub options:
- There's one other column in the dataframe with percent signs. Remove them and convert to floats. You'll need to handle missing values.
- Modify the `emp_title` column to replace titles with 'Other' if the title is not in the top 20. 
- Take initiatve and work on your own ideas!

Instacart options:
- Read [Instacart Market Basket Analysis, Winner's Interview: 2nd place, Kazuki Onodera](http://blog.kaggle.com/2017/09/21/instacart-market-basket-analysis-winners-interview-2nd-place-kazuki-onodera/), especially the **Feature Engineering** section. (Can you choose one feature from his bulleted lists, and try to engineer it with pandas code?)
- Read and replicate parts of [Simple Exploration Notebook - Instacart](https://www.kaggle.com/sudalairajkumar/simple-exploration-notebook-instacart). (It's the Python Notebook with the most upvotes for this Kaggle competition.)
- Take initiative and work on your own ideas!

You can uncomment and run the cells below to re-download and extract the Instacart data

In [0]:
# !wget https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz

In [0]:
# !tar --gunzip --extract --verbose --file=instacart_online_grocery_shopping_2017_05_01.tar.gz

In [0]:
# %cd instacart_2017_05_01