<a href="https://colab.research.google.com/github/serinamarie/DS-Unit-1-Sprint-1-Dealing-With-Data/blob/master/Assignment_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

_Lambda School Data Science_

# Make features

Objectives
-  understand the purpose of feature engineering
-  work with strings in pandas
- work with dates and times in pandas

Links
- [Feature Engineering](https://en.wikipedia.org/wiki/Feature_engineering)
- Python Data Science Handbook
  - [Chapter 3.10](https://jakevdp.github.io/PythonDataScienceHandbook/03.10-working-with-strings.html), Vectorized String Operations
  - [Chapter 3.11](https://jakevdp.github.io/PythonDataScienceHandbook/03.11-working-with-time-series.html), Working with Time Series

## Get LendingClub data

[Source](https://www.lendingclub.com/info/download-data.action)

In [389]:
!wget https://resources.lendingclub.com/LoanStats_2019Q1.csv.zip

--2019-07-19 04:35:23--  https://resources.lendingclub.com/LoanStats_2019Q1.csv.zip
Resolving resources.lendingclub.com (resources.lendingclub.com)... 64.48.1.20
Connecting to resources.lendingclub.com (resources.lendingclub.com)|64.48.1.20|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [application/zip]
Saving to: ‘LoanStats_2019Q1.csv.zip.6’

LoanStats_2019Q1.cs     [     <=>            ]  19.30M   762KB/s    in 27s

2019-07-19 04:35:50 (740 KB/s) - ‘LoanStats_2019Q1.csv.zip.6’ saved [20240936]

In [390]:
!unzip LoanStats_2019Q1.csv.zip

Archive:  LoanStats_2019Q1.csv.zip
replace LoanStats_2019Q1.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: yes
  inflating: LoanStats_2019Q1.csv

In [391]:
!head LoanStats_2019Q1.csv

Notes offered by Prospectus (https://www.lendingclub.com/info/prospectus.action)
"id","member_id","loan_amnt","funded_amnt","funded_amnt_inv","term","int_rate","installment","grade","sub_grade","emp_title","emp_length","home_ownership","annual_inc","verification_status","issue_d","loan_status","pymnt_plan","url","desc","purpose","title","zip_code","addr_state","dti","delinq_2yrs","earliest_cr_line","inq_last_6mths","mths_since_last_delinq","mths_since_last_record","open_acc","pub_rec","revol_bal","revol_util","total_acc","initial_list_status","out_prncp","out_prncp_inv","total_pymnt","total_pymnt_inv","total_rec_prncp","total_rec_int","total_rec_late_fee","recoveries","collection_recovery_fee","last_pymnt_d","last_pymnt_amnt","next_pymnt_d","last_credit_pull_d","collections_12_mths_ex_med","mths_since_last_major_derog","policy_code","application_type","annual_inc_joint","dti_joint","verification_status_joint","acc_now_delinq","tot_coll_amt","tot_cur_bal","open_acc_6m","open_act_il","open_il_12m","open_il_24m","mths_since_rcnt_il","total_bal_il","il_util","open_rv_12m","open_rv_24m","max_bal_bc","all_util","total_rev_hi_lim","inq_fi","total_cu_tl","inq_last_12m","acc_open_past_24mths","avg_cur_bal","bc_open_to_buy","bc_util","chargeoff_within_12_mths","delinq_amnt","mo_sin_old_il_acct","mo_sin_old_rev_tl_op","mo_sin_rcnt_rev_tl_op","mo_sin_rcnt_tl","mort_acc","mths_since_recent_bc","mths_since_recent_bc_dlq","mths_since_recent_inq","mths_since_recent_revol_delinq","num_accts_ever_120_pd","num_actv_bc_tl","num_actv_rev_tl","num_bc_sats","num_bc_tl","num_il_tl","num_op_rev_tl","num_rev_accts","num_rev_tl_bal_gt_0","num_sats","num_tl_120dpd_2m","num_tl_30dpd","num_tl_90g_dpd_24m","num_tl_op_past_12m","pct_tl_nvr_dlq","percent_bc_gt_75","pub_rec_bankruptcies","tax_liens","tot_hi_cred_lim","total_bal_ex_mort","total_bc_limit","total_il_high_credit_limit","revol_bal_joint","sec_app_earliest_cr_line","sec_app_inq_last_6mths","sec_app_mort_acc","sec_app_open_acc","sec_app_revol_util","sec_app_open_act_il","sec_app_num_rev_accts","sec_app_chargeoff_within_12_mths","sec_app_collections_12_mths_ex_med","sec_app_mths_since_last_major_derog","hardship_flag","hardship_type","hardship_reason","hardship_status","deferral_term","hardship_amount","hardship_start_date","hardship_end_date","payment_plan_start_date","hardship_length","hardship_dpd","hardship_loan_status","orig_projected_additional_accrued_interest","hardship_payoff_balance_amount","hardship_last_payment_amount","debt_settlement_flag","debt_settlement_flag_date","settlement_status","settlement_date","settlement_amount","settlement_percentage","settlement_term"
"","","20000","20000","20000"," 60 months"," 17.19%","499.1","C","C5","Front desk supervisor","6 years","RENT","47000","Source Verified","Mar-2019","Current","n","","","debt_consolidation","Debt consolidation","958xx","CA","14.02","0","Sep-2006","1","50","","15","0","10687","19.7%","53","w","19254.76","19254.76","1459.1","1459.10","745.24","713.86","0.0","0.0","0.0","Jun-2019","499.1","Jul-2019","Jun-2019","0","50","1","Individual","","","","0","0","31546","3","2","1","2","10","20859","97","4","9","5909","42","54300","6","1","3","11","2103","23647","30","0","0","150","100","1","1","0","5","","3","50","3","3","4","8","19","19","13","33","4","15","0","0","0","5","98","12.5","0","0","75824","31546","33800","21524","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","12000","12000","12000"," 36 months"," 16.40%","424.26","C","C4","Executive Director","4 years","MORTGAGE","95000","Not Verified","Mar-2019","Current","n","","","debt_consolidation","Debt consolidation","436xx","OH","29.5","0","Nov-1992","0","29","","19","0","16619","64.9%","36","w","11475.92","11475.92","826.65","826.65","524.08","302.57","0.0","0.0","0.0","May-2019","424.26","Jul-2019","Jun-2019","0","30","1","Individual","","","","0","0","176551","1","5","2","5","7","35115","65","3","6","4899","65","25600","4","0","3","12","9292","3231","82.5","0","0","316","269","5","5","2","12","58","7","29","1","6","8","6","9","10","13","23","8","19","0","0","0","6","80.6","66.7","0","0","209488","51734","18500","54263","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","3000","3000","3000"," 36 months"," 14.74%","103.62","C","C2","Office Manager","4 years","MORTGAGE","58750","Verified","Mar-2019","Current","n","","","medical","Medical expenses","327xx","FL","30.91","0","Jun-2004","0","24","","16","0","20502","60.1%","25","f","2865.64","2865.64","202.33","202.33","134.36","67.97","0.0","0.0","0.0","May-2019","103.62","Jul-2019","Jun-2019","0","","1","Individual","","","","0","0","37816","0","3","0","0","27","17314","48","0","0","3962","54","34100","0","1","0","0","2364","1208","89.4","0","0","177","164","35","27","4","40","24","","24","0","7","12","7","8","6","13","15","12","16","0","0","0","0","96","71.4","0","0","69911","37816","11400","35811","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","35000","35000","35000"," 36 months"," 15.57%","1223.08","C","C3","Store Manager ","10+ years","RENT","122000","Verified","Mar-2019","Current","n","","","credit_card","Credit card refinancing","333xx","FL","22","1","Dec-2009","0","20","","5","0","1441","24.4%","18","w","33459.43","33459.43","2446.76","2446.76","1540.57","845.04","61.15","0.0","0.0","Jun-2019","1223.08","Jul-2019","Jun-2019","0","20","1","Individual","","","","0","0","24471","0","3","0","0","26","23030","39","0","0","1441","37","5900","2","4","1","1","4894","159","90.1","0","0","108","111","52","24","0","85","","9","","1","1","1","1","3","10","2","7","1","5","0","0","1","0","94.4","100","0","0","65640","24471","1600","59740","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","5000","5000","5000"," 36 months"," 15.57%","174.73","C","C3","Area Manager","3 years","OWN","65000","Verified","Mar-2019","Current","n","","","house","Home buying","640xx","MO","16.28","1","Jul-2001","0","7","","9","0","5604","64.4%","25","w","4778.86","4778.86","340.81","340.81","221.14","119.67","0.0","0.0","0.0","May-2019","174.73","Jul-2019","Jun-2019","0","7","1","Individual","","","","0","0","29775","0","1","0","1","17","24171","82","1","6","1824","78","8700","1","0","0","7","3722","1070","75.7","0","0","111","212","10","10","4","17","69","17","69","4","3","5","5","9","7","8","14","5","9","0","0","1","1","76","50","0","0","38190","29775","4400","29490","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","40000","40000","40000"," 60 months"," 12.40%","897.89","B","B4","SVP","10+ years","MORTGAGE","515000","Source Verified","Mar-2019","Current","n","","","debt_consolidation","Debt consolidation","117xx","NY","18.19","0","Feb-1993","1","","","24","0","130490","86.4%","49","w","39025.88","39025.88","1740.67","1740.67","974.12","766.55","0.0","0.0","0.0","May-2019","897.89","Jul-2019","Jun-2019","0","","1","Individual","","","","0","205","569565","3","6","2","3","4","72207","39","3","3","20896","67","151100","1","6","2","7","23732","4733","94.8","0","0","160","304","3","3","6","10","","0","","0","10","14","10","17","12","15","28","14","24","0","0","0","5","100","100","0","0","752911","204997","90800","144678","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","40000","40000","40000"," 60 months"," 11.02%","870.1","B","B2","VP of Sales","3 years","MORTGAGE","288000","Not Verified","Mar-2019","Current","n","","","credit_card","Credit card refinancing","843xx","UT","19.74","0","May-2002","0","","","20","0","66240","43.9%","34","w","38989.85","38989.85","1691.22","1691.22","1010.15","681.07","0.0","0.0","0.0","May-2019","870.1","Jul-2019","Jun-2019","0","","1","Individual","","","","0","0","390598","0","5","0","2","16","140633","58","0","2","22577","49","150900","0","6","1","4","19530","81923","43.1","0","0","136","202","17","16","1","17","","3","","0","8","9","10","15","11","13","22","10","20","0","0","0","0","100","20","0","0","543401","206873","143900","197751","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","20000","20000","20000"," 60 months"," 12.40%","448.95","B","B4","Sales","1 year","MORTGAGE","70000","Source Verified","Mar-2019","Current","n","","","credit_card","Credit card refinancing","481xx","MI","32.33","0","May-1995","0","","","12","0","31036","56.7%","32","w","19512.93","19512.93","870.34","870.34","487.07","383.27","0.0","0.0","0.0","May-2019","448.95","Jul-2019","Jun-2019","0","","1","Joint App","102400","31.16","Source Verified","0","0","204292","0","3","0","1","14","16305","33","0","0","17389","46","54700","1","3","0","2","17024","268","98.9","0","0","133","286","41","14","4","84","","15","","0","3","7","3","7","9","8","19","7","12","0","0","0","0","100","100","0","0","267991","47341","24800","49291","56647","May-1995","0","4","15","61.3","1","31","0","0","","N","","","","","","","","","","","","","","","N","","","","","",""

## Load LendingClub data

pandas documentation
- [`read_csv`](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_csv.html)
- [`options.display`](https://pandas.pydata.org/pandas-docs/stable/options.html#available-options)

In [392]:
import pandas as pd
df= pd.read_csv('LoanStats_2019Q1.csv', header=1)
print(df.shape)
df.head()

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (0,123,124,125,128,129,130,133,138,139,140) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

(115677, 144)

    id  member_id  ...  settlement_percentage  settlement_term
0  NaN        NaN  ...                    NaN              NaN
1  NaN        NaN  ...                    NaN              NaN
2  NaN        NaN  ...                    NaN              NaN
3  NaN        NaN  ...                    NaN              NaN
4  NaN        NaN  ...                    NaN              NaN

[5 rows x 144 columns]

In [393]:
df.isna().sum()

id                                            115675
member_id                                     115677
loan_amnt                                          2
funded_amnt                                        2
funded_amnt_inv                                    2
term                                               2
int_rate                                           2
installment                                        2
grade                                              2
sub_grade                                          2
emp_title                                      19520
emp_length                                     11103
home_ownership                                     2
annual_inc                                         2
verification_status                                2
issue_d                                            2
loan_status                                        2
pymnt_plan                                         2
url                                           115677
desc                                          115677
purpose                                            2
title                                              2
zip_code                                           2
addr_state                                         2
dti                                              259
delinq_2yrs                                        2
earliest_cr_line                                   2
inq_last_6mths                                     2
mths_since_last_delinq                         65801
mths_since_last_record                        102254
                                               ...
sec_app_mort_acc                               98996
sec_app_open_acc                               98996
sec_app_revol_util                             99226
sec_app_open_act_il                            98996
sec_app_num_rev_accts                          98996
sec_app_chargeoff_within_12_mths               98996
sec_app_collections_12_mths_ex_med             98996
sec_app_mths_since_last_major_derog           110776
hardship_flag                                      2
hardship_type                                 115676
hardship_reason                               115676
hardship_status                               115676
deferral_term                                 115676
hardship_amount                               115676
hardship_start_date                           115676
hardship_end_date                             115676
payment_plan_start_date                       115676
hardship_length                               115676
hardship_dpd                                  115676
hardship_loan_status                          115676
orig_projected_additional_accrued_interest    115676
hardship_payoff_balance_amount                115676
hardship_last_payment_amount                  115676
debt_settlement_flag                               2
debt_settlement_flag_date                     115676
settlement_status                             115676
settlement_date                               115676
settlement_amount                             115676
settlement_percentage                         115676
settlement_term                               115676
Length: 144, dtype: int64

In [394]:
df[df.loan_amnt.isna()]

                                                      id  ...  settlement_term
115675  Total amount funded in policy code 1: 1928448350  ...              NaN
115676   Total amount funded in policy code 2: 799372035  ...              NaN

[2 rows x 144 columns]

## Work with strings

For machine learning, we usually want to replace strings with numbers.

We can get info about which columns have a datatype of "object" (strings)

In [395]:
df.describe(include=object)

                                                     id  ... settlement_date
count                                                 2  ...               1
unique                                                2  ...               1
top     Total amount funded in policy code 2: 799372035  ...        May-2019
freq                                                  1  ...               1

[4 rows x 37 columns]

### Convert `int_rate`

Define a function to remove percent signs from strings and convert to floats

In [0]:
df['int_rate'] = df.int_rate.str.replace("%","").astype(float)

Apply the function to the `int_rate` column

In [397]:
def remove_percent_sign(string):
  'removes percent sign'
  return float(string.strip('%'))/100
x = '12.5%'
remove_percent_sign(x)

0.125

### Clean `emp_title`

Look at top 20 titles

In [398]:
df.emp_title.head(20)

0        Front desk supervisor
1           Executive Director
2               Office Manager
3               Store Manager
4                 Area Manager
5                          SVP
6                  VP of Sales
7                        Sales
8                           Rn
9              Project Manager
10           Custom applicator
11                  AV Manager
12    Human Resources Liaison
13                         NaN
14                       Agent
15             Sales/Marketing
16                         ceo
17                   Route Rep
18                 maintenance
19         Executive Assistant
Name: emp_title, dtype: object

How often is `emp_title` null?

In [399]:
df.emp_title.isna().sum()

19520

Clean the title and handle missing values
Capitalize
Strip spaces
Rreplace NaN w/ missing

In [0]:
def clean_emp_title(x):
    if isinstance(x, str):
        return x.strip().title()
    else:
         return 'Missing'

In [0]:
import numpy as np
example = ['owner', 'Supervisor', 'Project manager', np.nan]

In [402]:
[clean_emp_title(ex) for ex in example]

['Owner', 'Supervisor', 'Project Manager', 'Missing']

In [403]:
df['emp_title'] = df['emp_title'].apply(clean_emp_title)
df.emp_title.head(20)

0       Front Desk Supervisor
1          Executive Director
2              Office Manager
3               Store Manager
4                Area Manager
5                         Svp
6                 Vp Of Sales
7                       Sales
8                          Rn
9             Project Manager
10          Custom Applicator
11                 Av Manager
12    Human Resources Liaison
13                    Missing
14                      Agent
15            Sales/Marketing
16                        Ceo
17                  Route Rep
18                Maintenance
19        Executive Assistant
Name: emp_title, dtype: object

### Create `emp_title_manager`

pandas documentation: [`str.contains`](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.str.contains.html)

In [404]:
df['emp_title'].str.contains('Manager', case=False).head(20)

0     False
1     False
2      True
3      True
4      True
5     False
6     False
7     False
8     False
9      True
10    False
11     True
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
Name: emp_title, dtype: bool

In [405]:
df['emp_title_manager'] = df['emp_title'].str.contains('Manager', case=False)


df.groupby('emp_title_manager').mean()

                   member_id  ...  settlement_term
emp_title_manager             ...
False                    NaN  ...             18.0
True                     NaN  ...              NaN

[2 rows x 108 columns]

## Work with dates

pandas documentation
- [to_datetime](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.to_datetime.html)
- [Time/Date Components](https://pandas.pydata.org/pandas-docs/stable/timeseries.html#time-date-components) "You can access these properties via the `.dt` accessor"

In [406]:
df['issue_d'].describe()

count       115675
unique           3
top       Jan-2019
freq         43584
Name: issue_d, dtype: object

In [0]:
df['issue_d'] = pd.to_datetime(df['issue_d'], infer_datetime_format=True)

In [408]:
df['issue_d'].describe()

count                  115675
unique                      3
top       2019-01-01 00:00:00
freq                    43584
first     2019-01-01 00:00:00
last      2019-03-01 00:00:00
Name: issue_d, dtype: object

In [409]:
df['issue_d'].iloc[10:20].dt.day

10    1
11    1
12    1
13    1
14    1
15    1
16    1
17    1
18    1
19    1
Name: issue_d, dtype: int64

In [410]:
df['earliest_cr_line'] = pd.to_datetime (df['earliest_cr_line'])
df['days_since_earliest_cr_line'] = (df['issue_d'] - df['earliest_cr_line']).dt.days
df['days_since_earliest_cr_line'].describe()

count    115675.000000
mean       5972.244634
std        2904.216417
min        1124.000000
25%        4141.000000
50%        5358.000000
75%        7367.000000
max       27453.000000
Name: days_since_earliest_cr_line, dtype: float64

In [411]:
[col for col in df if col.endswith('_d')]

['issue_d', 'last_pymnt_d', 'next_pymnt_d', 'last_credit_pull_d']

In [0]:
for col in ['issue_d', 'last_pymnt_d', 'next_pymnt_d', 'last_credit_pull_d']:
    df[col] = pd.to_datetime(df[col])

In [413]:
df.describe(include='datetime')

                    issue_d  ...   last_credit_pull_d
count                115675  ...               115673
unique                    3  ...                    7
top     2019-01-01 00:00:00  ...  2019-06-01 00:00:00
freq                  43584  ...               111240
first   2019-01-01 00:00:00  ...  2018-12-01 00:00:00
last    2019-03-01 00:00:00  ...  2019-06-01 00:00:00

[6 rows x 5 columns]

# ASSIGNMENT

- Replicate the lesson code.

- Convert the `term` column from string to integer.

- Make a column named `loan_status_is_great`. It should contain the integer 1 if `loan_status` is "Current" or "Fully Paid." Else it should contain the integer 0.

- Make `last_pymnt_d_month` and `last_pymnt_d_year` columns.

In [414]:
#Cannot convert column to integers as 2 NaNs exist
df[df['term'].isna()]
#Upon further investigation, dropping these 2 rows as they contain only NaNs

                                                      id  ...  days_since_earliest_cr_line
115675  Total amount funded in policy code 1: 1928448350  ...                          NaN
115676   Total amount funded in policy code 2: 799372035  ...                          NaN

[2 rows x 146 columns]

In [0]:
df = df.drop([115675,115676])

In [0]:
df['term'] = df['term'].str.strip('months').astype(int)

In [417]:
df['term'].describe()

count    115675.000000
mean         43.727720
std          11.213773
min          36.000000
25%          36.000000
50%          36.000000
75%          60.000000
max          60.000000
Name: term, dtype: float64

In [418]:
df.loan_status.unique()

array(['Current', 'Fully Paid', 'Late (16-30 days)', 'Late (31-120 days)',
       'Charged Off', 'In Grace Period'], dtype=object)

In [0]:
df['loan_status_is_great'] = df['loan_status'].str.contains("Current|Fully Paid")
df['loan_status_is_great'] = df['loan_status_is_great'].astype(int)

In [420]:
df.head(20).T
#Column is created for conditional loan status

                                                               0   ...                   19
id                                                            NaN  ...                  NaN
member_id                                                     NaN  ...                  NaN
loan_amnt                                                   20000  ...                10000
funded_amnt                                                 20000  ...                10000
funded_amnt_inv                                             20000  ...                10000
term                                                           60  ...                   36
int_rate                                                    17.19  ...                 8.19
installment                                                 499.1  ...               314.25
grade                                                           C  ...                    A
sub_grade                                                      C5  ...                   A4
emp_title                                   Front Desk Supervisor  ...  Executive Assistant
emp_length                                                6 years  ...            10+ years
home_ownership                                               RENT  ...                 RENT
annual_inc                                                  47000  ...                72000
verification_status                               Source Verified  ...         Not Verified
issue_d                                       2019-03-01 00:00:00  ...  2019-03-01 00:00:00
loan_status                                               Current  ...              Current
pymnt_plan                                                      n  ...                    n
url                                                           NaN  ...                  NaN
desc                                                          NaN  ...                  NaN
purpose                                        debt_consolidation  ...   debt_consolidation
title                                          Debt consolidation  ...   Debt consolidation
zip_code                                                    958xx  ...                481xx
addr_state                                                     CA  ...                   MI
dti                                                         14.02  ...                 23.9
delinq_2yrs                                                     0  ...                    0
earliest_cr_line                              2006-09-01 00:00:00  ...  2006-08-01 00:00:00
inq_last_6mths                                                  1  ...                    0
mths_since_last_delinq                                         50  ...                  NaN
mths_since_last_record                                        NaN  ...                  NaN
...                                                           ...  ...                  ...
sec_app_open_act_il                                           NaN  ...                  NaN
sec_app_num_rev_accts                                         NaN  ...                  NaN
sec_app_chargeoff_within_12_mths                              NaN  ...                  NaN
sec_app_collections_12_mths_ex_med                            NaN  ...                  NaN
sec_app_mths_since_last_major_derog                           NaN  ...                  NaN
hardship_flag                                                   N  ...                    N
hardship_type                                                 NaN  ...                  NaN
hardship_reason                                               NaN  ...                  NaN
hardship_status                                               NaN  ...                  NaN
deferral_term                                                 NaN  ...                  NaN
hardship_amount                                               NaN  ...                  NaN
hardship_start_date                                           NaN  ...                  NaN
hardship_end_date                                             NaN  ...                  NaN
payment_plan_start_date                                       NaN  ...                  NaN
hardship_length                                               NaN  ...                  NaN
hardship_dpd                                                  NaN  ...                  NaN
hardship_loan_status                                          NaN  ...                  NaN
orig_projected_additional_accrued_interest                    NaN  ...                  NaN
hardship_payoff_balance_amount                                NaN  ...                  NaN
hardship_last_payment_amount                                  NaN  ...                  NaN
debt_settlement_flag                                            N  ...                    N
debt_settlement_flag_date                                     NaN  ...                  NaN
settlement_status                                             NaN  ...                  NaN
settlement_date                                               NaN  ...                  NaN
settlement_amount                                             NaN  ...                  NaN
settlement_percentage                                         NaN  ...                  NaN
settlement_term                                               NaN  ...                  NaN
emp_title_manager                                           False  ...                False
days_since_earliest_cr_line                                  4564  ...                 4595
loan_status_is_great                                            1  ...                    1

[147 rows x 20 columns]

In [421]:
#Make last_pymnt_d_month and last_pymnt_d_year columns.
cols = df.columns.to_list()
print(cols)

['id', 'member_id', 'loan_amnt', 'funded_amnt', 'funded_amnt_inv', 'term', 'int_rate', 'installment', 'grade', 'sub_grade', 'emp_title', 'emp_length', 'home_ownership', 'annual_inc', 'verification_status', 'issue_d', 'loan_status', 'pymnt_plan', 'url', 'desc', 'purpose', 'title', 'zip_code', 'addr_state', 'dti', 'delinq_2yrs', 'earliest_cr_line', 'inq_last_6mths', 'mths_since_last_delinq', 'mths_since_last_record', 'open_acc', 'pub_rec', 'revol_bal', 'revol_util', 'total_acc', 'initial_list_status', 'out_prncp', 'out_prncp_inv', 'total_pymnt', 'total_pymnt_inv', 'total_rec_prncp', 'total_rec_int', 'total_rec_late_fee', 'recoveries', 'collection_recovery_fee', 'last_pymnt_d', 'last_pymnt_amnt', 'next_pymnt_d', 'last_credit_pull_d', 'collections_12_mths_ex_med', 'mths_since_last_major_derog', 'policy_code', 'application_type', 'annual_inc_joint', 'dti_joint', 'verification_status_joint', 'acc_now_delinq', 'tot_coll_amt', 'tot_cur_bal', 'open_acc_6m', 'open_act_il', 'open_il_12m', 'open_il_24m', 'mths_since_rcnt_il', 'total_bal_il', 'il_util', 'open_rv_12m', 'open_rv_24m', 'max_bal_bc', 'all_util', 'total_rev_hi_lim', 'inq_fi', 'total_cu_tl', 'inq_last_12m', 'acc_open_past_24mths', 'avg_cur_bal', 'bc_open_to_buy', 'bc_util', 'chargeoff_within_12_mths', 'delinq_amnt', 'mo_sin_old_il_acct', 'mo_sin_old_rev_tl_op', 'mo_sin_rcnt_rev_tl_op', 'mo_sin_rcnt_tl', 'mort_acc', 'mths_since_recent_bc', 'mths_since_recent_bc_dlq', 'mths_since_recent_inq', 'mths_since_recent_revol_delinq', 'num_accts_ever_120_pd', 'num_actv_bc_tl', 'num_actv_rev_tl', 'num_bc_sats', 'num_bc_tl', 'num_il_tl', 'num_op_rev_tl', 'num_rev_accts', 'num_rev_tl_bal_gt_0', 'num_sats', 'num_tl_120dpd_2m', 'num_tl_30dpd', 'num_tl_90g_dpd_24m', 'num_tl_op_past_12m', 'pct_tl_nvr_dlq', 'percent_bc_gt_75', 'pub_rec_bankruptcies', 'tax_liens', 'tot_hi_cred_lim', 'total_bal_ex_mort', 'total_bc_limit', 'total_il_high_credit_limit', 'revol_bal_joint', 'sec_app_earliest_cr_line', 'sec_app_inq_last_6mths', 'sec_app_mort_acc', 'sec_app_open_acc', 'sec_app_revol_util', 'sec_app_open_act_il', 'sec_app_num_rev_accts', 'sec_app_chargeoff_within_12_mths', 'sec_app_collections_12_mths_ex_med', 'sec_app_mths_since_last_major_derog', 'hardship_flag', 'hardship_type', 'hardship_reason', 'hardship_status', 'deferral_term', 'hardship_amount', 'hardship_start_date', 'hardship_end_date', 'payment_plan_start_date', 'hardship_length', 'hardship_dpd', 'hardship_loan_status', 'orig_projected_additional_accrued_interest', 'hardship_payoff_balance_amount', 'hardship_last_payment_amount', 'debt_settlement_flag', 'debt_settlement_flag_date', 'settlement_status', 'settlement_date', 'settlement_amount', 'settlement_percentage', 'settlement_term', 'emp_title_manager', 'days_since_earliest_cr_line', 'loan_status_is_great']

In [0]:
df['last_pymnt_d_month'] = df['last_pymnt_d'].dt.month
df['last_pymnt_d_year'] =  df['last_pymnt_d'].dt.year

# STRETCH OPTIONS

You can do more with the LendingClub or Instacart datasets.

LendingClub options:
- There's one other column in the dataframe with percent signs. Remove them and convert to floats. You'll need to handle missing values.
- Modify the `emp_title` column to replace titles with 'Other' if the title is not in the top 20. 
- Take initiatve and work on your own ideas!

Instacart options:
- Read [Instacart Market Basket Analysis, Winner's Interview: 2nd place, Kazuki Onodera](http://blog.kaggle.com/2017/09/21/instacart-market-basket-analysis-winners-interview-2nd-place-kazuki-onodera/), especially the **Feature Engineering** section. (Can you choose one feature from his bulleted lists, and try to engineer it with pandas code?)
- Read and replicate parts of [Simple Exploration Notebook - Instacart](https://www.kaggle.com/sudalairajkumar/simple-exploration-notebook-instacart). (It's the Python Notebook with the most upvotes for this Kaggle competition.)
- Take initiative and work on your own ideas!

In [0]:
#There's one other column in the dataframe with percent signs
#Remove them and convert to floats. You'll need to handle missing values.
df['revol_util'] = df['revol_util'].fillna('0').str.strip('%').astype(float)

In [435]:
df['emp_title'].value_counts(20).to_list

<bound method IndexOpsMixin.tolist of Missing                                   0.168731
Teacher                                   0.021310
Manager                                   0.018777
Registered Nurse                          0.011290
Driver                                    0.010322
Supervisor                                0.009587
Office Manager                            0.007210
Sales                                     0.006968
Truck Driver                              0.006631
General Manager                           0.006371
Rn                                        0.006259
Owner                                     0.006008
Project Manager                           0.005948
Sales Manager                             0.004046
Director                                  0.004037
Operations Manager                        0.003795
Administrative Assistant                  0.003562
Police Officer                            0.003328
Technician                                0.003294
Engineer                                  0.003259
Store Manager                             0.003164
Nurse                                     0.003138
Account Manager                           0.002922
Server                                    0.002827
Vice President                            0.002758
Accountant                                0.002758
President                                 0.002740
Mechanic                                  0.002740
Assistant Manager                         0.002663
Electrician                               0.002533
                                            ...
Sales Support Coordinator                 0.000009
Transportation Planner Ii                 0.000009
Workforce Management  Scheduler           0.000009
Coaching Executive                        0.000009
Division Distribution Manager             0.000009
Mid Level Professional                    0.000009
Sr. Associate, Data Platforms             0.000009
Pricing And Planning Manager              0.000009
Assistant Program Director.               0.000009
Assistant Us Attorney                     0.000009
Regional Sales Representative             0.000009
Income Maintenance                        0.000009
Scanner/Verifier                          0.000009
Senior  Accountant                        0.000009
Triage Support                            0.000009
C-17 Pilot                                0.000009
Coding Systems Coordinator                0.000009
Principal Ux - Information Architect      0.000009
Senior Event Manager                      0.000009
Data Protection Program Lead              0.000009
Director Of Talent Acquistion             0.000009
Building Coordinator                      0.000009
Medical Coder Analyst                     0.000009
Assistant Director Of Student Services    0.000009
Front End Software Engineer Ii            0.000009
Master Data Manager                       0.000009
Nanny /Tutor                              0.000009
Trock Driver                              0.000009
Table Games Floor Supervisor              0.000009
Sales Dept                                0.000009
Name: emp_title, Length: 31429, dtype: float64>

You can uncomment and run the cells below to re-download and extract the Instacart data

In [0]:
# !wget https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz

In [0]:
# !tar --gunzip --extract --verbose --file=instacart_online_grocery_shopping_2017_05_01.tar.gz

In [0]:
# %cd instacart_2017_05_01