<a href="https://colab.research.google.com/github/mahfuz978/DS-Unit-1-Sprint-1-Dealing-With-Data/blob/master/Copy_of_Mahfuzur_of_LS_DS_111_A_First_Look_at_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Lambda School Data Science - A First Look at Data

## Lecture - let's explore Python DS libraries and examples!

The Python Data Science ecosystem is huge. You've seen some of the big pieces - pandas, scikit-learn, matplotlib. What parts do you want to see more of?

In [0]:
import pandas as pd

## Assignment - now it's your turn

Pick at least one Python DS library, and using documentation/examples reproduce in this notebook something cool. It's OK if you don't fully understand it or get it 100% working, but do put in effort and look things up.

In [0]:
df = pd.read_csv ('https://data.ct.gov/api/views/rybz-nyjw/rows.csv?accessType=DOWNLOAD	') # data for accidental drug deaths
df.head()
# TODO - your code here
# Use what we did live in lecture as an example

        ID  ...                InjuryCityGeo
0  14-0273  ...  CT\n(41.575155, -72.738288)
1  13-0102  ...  CT\n(41.575155, -72.738288)
2  16-0165  ...                          NaN
3  16-0208  ...                          NaN
4  13-0052  ...  CT\n(41.575155, -72.738288)

[5 rows x 41 columns]

In [0]:
df.describe()

               Age
count  5102.000000
mean     41.964916
std      12.336639
min      14.000000
25%      32.000000
50%      42.000000
75%      52.000000
max      87.000000

In [13]:
df1 = df['Race']
df.Race

0                   NaN
1                 Black
2                 White
3                 White
4          Asian, Other
5                 White
6                 White
7                 White
8                 White
9                 White
10      Hispanic, White
11                White
12                  NaN
13                White
14                Black
15                White
16                White
17                White
18                White
19                White
20                White
21                White
22                  NaN
23                White
24                White
25                White
26                White
27                White
28                White
29      Hispanic, White
             ...
5075    Hispanic, White
5076              Black
5077              White
5078              White
5079              White
5080              White
5081              White
5082              White
5083              White
5084              White
5085              White
5086    Hispanic, White
5087              White
5088              White
5089              Other
5090              Black
5091    Hispanic, White
5092              White
5093              White
5094              White
5095              White
5096              White
5097              White
5098              White
5099              White
5100              White
5101              White
5102              White
5103              White
5104              White
Name: Race, Length: 5105, dtype: object

### Assignment questions

After you've worked on some code, answer the following questions in this text block:

1.  Describe in a paragraph of text what you did and why, as if you were writing an email to somebody interested but nontechnical.
I found a dataset for deaths in accidental death over dose. Then I imported it through the panda functions. And then i usedthe head function to display. and then the describe function to find descriptions. 
2.  What was the most challenging part of what you did?
I couldnt find what i was trying to do.
3.  What was the most interesting thing you learned?
I have learned that there is lot to learn in Pandas and it will take lots of time and practice to get where i am trying to go.
4.  What area would you like to explore with more time?
I would like to explore all functions of pandas.

## Stretch goals and resources

Following are *optional* things for you to take a look at. Focus on the above assignment first, and make sure to commit and push your changes to GitHub (and since this is the first assignment of the sprint, open a PR as well).

- [pandas documentation](https://pandas.pydata.org/pandas-docs/stable/)
- [scikit-learn documentation](http://scikit-learn.org/stable/documentation.html)
- [matplotlib documentation](https://matplotlib.org/contents.html)
- [Awesome Data Science](https://github.com/bulutyazilim/awesome-datascience) - a list of many types of DS resources

Stretch goals:

- Find and read blogs, walkthroughs, and other examples of people working through cool things with data science - and share with your classmates!
- Write a blog post (Medium is a popular place to publish) introducing yourself as somebody learning data science, and talking about what you've learned already and what you're excited to learn more about.