<a href="https://colab.research.google.com/github/jiobu1/DS-Unit-1-Sprint-1-Dealing-With-Data/blob/master/Jisha_Obukwelu_Rework_of_Assignment_4_Make_Features.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np

In [22]:
!wget https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip

--2019-09-14 21:33:39--  https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip
Resolving resources.lendingclub.com (resources.lendingclub.com)... 64.48.1.20
Connecting to resources.lendingclub.com (resources.lendingclub.com)|64.48.1.20|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [application/zip]
Saving to: ‘LoanStats_2018Q4.csv.zip.1’

LoanStats_2018Q4.cs     [         <=>        ]  21.58M  1.70MB/s    in 13s

2019-09-14 21:33:52 (1.69 MB/s) - ‘LoanStats_2018Q4.csv.zip.1’ saved [22631049]

In [3]:
!unzip LoanStats_2018Q4.csv.zip

Archive:  LoanStats_2018Q4.csv.zip
  inflating: LoanStats_2018Q4.csv

In [4]:
!head LoanStats_2018Q4.csv

Notes offered by Prospectus (https://www.lendingclub.com/info/prospectus.action)
"id","member_id","loan_amnt","funded_amnt","funded_amnt_inv","term","int_rate","installment","grade","sub_grade","emp_title","emp_length","home_ownership","annual_inc","verification_status","issue_d","loan_status","pymnt_plan","url","desc","purpose","title","zip_code","addr_state","dti","delinq_2yrs","earliest_cr_line","inq_last_6mths","mths_since_last_delinq","mths_since_last_record","open_acc","pub_rec","revol_bal","revol_util","total_acc","initial_list_status","out_prncp","out_prncp_inv","total_pymnt","total_pymnt_inv","total_rec_prncp","total_rec_int","total_rec_late_fee","recoveries","collection_recovery_fee","last_pymnt_d","last_pymnt_amnt","next_pymnt_d","last_credit_pull_d","collections_12_mths_ex_med","mths_since_last_major_derog","policy_code","application_type","annual_inc_joint","dti_joint","verification_status_joint","acc_now_delinq","tot_coll_amt","tot_cur_bal","open_acc_6m","open_act_il","open_il_12m","open_il_24m","mths_since_rcnt_il","total_bal_il","il_util","open_rv_12m","open_rv_24m","max_bal_bc","all_util","total_rev_hi_lim","inq_fi","total_cu_tl","inq_last_12m","acc_open_past_24mths","avg_cur_bal","bc_open_to_buy","bc_util","chargeoff_within_12_mths","delinq_amnt","mo_sin_old_il_acct","mo_sin_old_rev_tl_op","mo_sin_rcnt_rev_tl_op","mo_sin_rcnt_tl","mort_acc","mths_since_recent_bc","mths_since_recent_bc_dlq","mths_since_recent_inq","mths_since_recent_revol_delinq","num_accts_ever_120_pd","num_actv_bc_tl","num_actv_rev_tl","num_bc_sats","num_bc_tl","num_il_tl","num_op_rev_tl","num_rev_accts","num_rev_tl_bal_gt_0","num_sats","num_tl_120dpd_2m","num_tl_30dpd","num_tl_90g_dpd_24m","num_tl_op_past_12m","pct_tl_nvr_dlq","percent_bc_gt_75","pub_rec_bankruptcies","tax_liens","tot_hi_cred_lim","total_bal_ex_mort","total_bc_limit","total_il_high_credit_limit","revol_bal_joint","sec_app_earliest_cr_line","sec_app_inq_last_6mths","sec_app_mort_acc","sec_app_open_acc","sec_app_revol_util","sec_app_open_act_il","sec_app_num_rev_accts","sec_app_chargeoff_within_12_mths","sec_app_collections_12_mths_ex_med","sec_app_mths_since_last_major_derog","hardship_flag","hardship_type","hardship_reason","hardship_status","deferral_term","hardship_amount","hardship_start_date","hardship_end_date","payment_plan_start_date","hardship_length","hardship_dpd","hardship_loan_status","orig_projected_additional_accrued_interest","hardship_payoff_balance_amount","hardship_last_payment_amount","debt_settlement_flag","debt_settlement_flag_date","settlement_status","settlement_date","settlement_amount","settlement_percentage","settlement_term"
"","","10000","10000","10000"," 36 months"," 10.33%","324.23","B","B1","","< 1 year","MORTGAGE","280000","Not Verified","Dec-2018","Current","n","","","debt_consolidation","Debt consolidation","974xx","OR","6.15","2","Jan-1996","0","18","","14","0","9082","38%","23","w","8289.30","8289.30","2261.0","2261.00","1710.70","550.30","0.0","0.0","0.0","Jul-2019","324.23","Sep-2019","Aug-2019","0","","1","Individual","","","","0","671","246828","1","3","2","3","1","48552","62","1","3","4923","46","23900","2","7","1","7","17631","11897","43.1","0","0","158","275","11","1","1","11","","11","","0","3","4","7","7","10","9","11","4","14","0","0","0","4","91.3","28.6","0","0","367828","61364","20900","54912","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","4000","4000","4000"," 36 months"," 23.40%","155.68","E","E1","Security","3 years","RENT","90000","Source Verified","Dec-2018","Current","n","","","debt_consolidation","Debt consolidation","070xx","NJ","26.33","0","Sep-2006","4","59","","15","0","5199","19.2%","20","w","3423.38","3423.38","1081.96","1081.96","576.62","505.34","0.0","0.0","0.0","Jul-2019","155.68","Sep-2019","Aug-2019","0","","1","Individual","","","","0","0","66926","5","4","3","4","5","61727","86","6","11","1353","68","27100","4","0","4","15","4462","20174","7.9","0","0","147","118","2","2","0","2","","0","","0","5","7","9","9","8","11","12","7","15","0","0","0","9","95","0","0","0","98655","66926","21900","71555","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","5000","5000","5000"," 36 months"," 17.97%","180.69","D","D1","Administrative","6 years","MORTGAGE","59280","Source Verified","Dec-2018","Late (31-120 days)","n","","","debt_consolidation","Debt consolidation","490xx","MI","10.51","0","Apr-2011","0","","","8","0","4599","19.1%","13","w","4456.17","4456.17","895.96","895.96","543.83","352.13","0.0","0.0","0.0","Jun-2019","180.69","Sep-2019","Aug-2019","0","","1","Individual","","","","0","0","110299","0","1","0","2","14","7150","72","0","2","0","35","24100","1","5","0","4","18383","13800","0","0","0","87","92","15","14","2","77","","14","","0","0","3","3","3","4","6","7","3","8","0","0","0","0","100","0","0","0","136927","11749","13800","10000","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","23000","23000","23000"," 60 months"," 20.89%","620.81","D","D4","Operator","5 years","RENT","68107","Source Verified","Dec-2018","Current","n","","","debt_consolidation","Debt consolidation","672xx","KS","0.52","0","Feb-1997","0","","","5","0","976","13%","10","w","21353.16","21353.16","4307.45","4307.45","1646.84","2660.61","0.0","0.0","0.0","Jul-2019","620.81","Sep-2019","Aug-2019","1","","1","Individual","","","","0","2693","976","0","0","0","0","36","0","","3","4","0","13","7500","2","2","4","4","195","3300","0","0","0","237","262","10","10","0","10","","9","","0","0","1","3","4","3","5","7","1","5","0","0","0","3","100","0","0","0","7500","976","3300","0","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","8000","8000","8000"," 36 months"," 23.40%","311.35","E","E1","Manager","10+ years","OWN","43000","Source Verified","Dec-2018","Current","n","","","debt_consolidation","Debt consolidation","357xx","AL","33.24","0","Jan-1995","0","","107","8","1","9019","81.3%","16","w","6846.83","6846.83","2163.85","2163.85","1153.17","1010.68","0.0","0.0","0.0","Jul-2019","311.35","Sep-2019","Aug-2019","0","","1","Individual","","","","0","0","169223","0","3","2","2","7","22059","69","0","0","2174","72","11100","1","1","1","2","21153","126","94.5","0","0","148","287","44","7","1","51","","7","","0","1","4","1","2","8","4","7","4","8","0","0","0","2","100","100","1","0","199744","31078","2300","32206","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","32075","32075","32075"," 60 months"," 11.80%","710.26","B","B4","Nursing Supervisor","10+ years","MORTGAGE","150000","Not Verified","Dec-2018","Current","n","","","credit_card","Credit card refinancing","231xx","VA","22.21","0","Aug-2005","0","","","17","0","19077","32%","24","w","29228.12","29228.12","4940.28","4940.28","2846.88","2093.40","0.0","0.0","0.0","Jul-2019","710.26","Sep-2019","Aug-2019","0","","1","Individual","","","","0","0","272667","1","4","1","1","9","37558","47","1","1","3910","41","59600","1","2","0","3","16039","10446","47.8","0","0","160","70","4","4","2","27","","14","","0","4","10","4","4","8","12","14","10","17","0","0","0","2","100","50","0","0","360433","56635","20000","80125","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","9600","9600","9600"," 36 months"," 12.98%","323.37","B","B5","","n/a","MORTGAGE","35704","Not Verified","Dec-2018","Current","n","","","home_improvement","Home improvement","401xx","KY","0.84","0","Nov-2003","0","69","","5","0","748","11.5%","23","w","8012.51","8012.51","2287.83","2287.83","1587.49","700.34","0.0","0.0","0.0","Aug-2019","323.37","Sep-2019","Aug-2019","0","","1","Individual","","","","0","0","748","0","0","0","0","44","0","","0","3","748","12","6500","0","0","1","3","150","3452","17.8","0","0","181","100","13","13","0","16","","3","","0","1","1","2","2","16","5","7","1","5","0","0","0","0","95.5","0","0","0","6500","748","4200","0","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","30000","30000","30000"," 60 months"," 18.94%","777.23","D","D2","Postmaster ","10+ years","MORTGAGE","90000","Source Verified","Dec-2018","Current","n","","","debt_consolidation","Debt consolidation","713xx","LA","26.52","0","Jun-1987","0","71","75","13","1","12315","24.2%","44","w","19969.40","19969.40","12893.26","12893.26","10030.60","2862.66","0.0","0.0","0.0","Jul-2019","777.23","Sep-2019","Aug-2019","0","","1","Individual","","","","0","1208","321915","4","4","2","3","3","87153","88","4","5","998","57","50800","2","15","2","10","24763","13761","8.3","0","0","163","378","4","3","3","4","","4","","0","2","4","4","9","27","8","14","4","13","0","0","0","6","95","0","1","0","372872","99468","15000","94072","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""

##Loading Lending Club Data

In [260]:
df = pd.read_csv('LoanStats_2018Q4.csv', header=1, skipfooter=2, engine='python')
df.head()

   id  member_id  ...  settlement_percentage  settlement_term
0 NaN        NaN  ...                    NaN              NaN
1 NaN        NaN  ...                    NaN              NaN
2 NaN        NaN  ...                    NaN              NaN
3 NaN        NaN  ...                    NaN              NaN
4 NaN        NaN  ...                    NaN              NaN

[5 rows x 144 columns]

In [261]:
df.tail()

        id  member_id  ...  settlement_percentage  settlement_term
128407 NaN        NaN  ...                    NaN              NaN
128408 NaN        NaN  ...                    NaN              NaN
128409 NaN        NaN  ...                    NaN              NaN
128410 NaN        NaN  ...                    NaN              NaN
128411 NaN        NaN  ...                    NaN              NaN

[5 rows x 144 columns]

###CLEANING DATA

In [262]:
df.isnull().sum().sort_values(ascending=False)

id                                            128412
desc                                          128412
member_id                                     128412
url                                           128412
orig_projected_additional_accrued_interest    128386
hardship_type                                 128385
hardship_last_payment_amount                  128385
hardship_payoff_balance_amount                128385
hardship_reason                               128385
hardship_loan_status                          128385
hardship_dpd                                  128385
hardship_length                               128385
payment_plan_start_date                       128385
hardship_end_date                             128385
hardship_start_date                           128385
hardship_amount                               128385
deferral_term                                 128385
hardship_status                               128385
settlement_percentage                         128301
settlement_term                               128301
settlement_status                             128301
settlement_amount                             128301
settlement_date                               128301
debt_settlement_flag_date                     128301
sec_app_mths_since_last_major_derog           123258
verification_status_joint                     113564
mths_since_last_record                        112962
sec_app_revol_util                            111888
sec_app_open_act_il                           111630
sec_app_num_rev_accts                         111630
                                               ...
pub_rec_bankruptcies                               0
tax_liens                                          0
tot_hi_cred_lim                                    0
total_bal_ex_mort                                  0
total_bc_limit                                     0
total_il_high_credit_limit                         0
mort_acc                                           0
mo_sin_rcnt_tl                                     0
mo_sin_rcnt_rev_tl_op                              0
mo_sin_old_rev_tl_op                               0
policy_code                                        0
application_type                                   0
acc_now_delinq                                     0
tot_coll_amt                                       0
tot_cur_bal                                        0
open_acc_6m                                        0
open_act_il                                        0
hardship_flag                                      0
open_il_24m                                        0
total_bal_il                                       0
open_rv_12m                                        0
open_rv_24m                                        0
max_bal_bc                                         0
total_rev_hi_lim                                   0
total_cu_tl                                        0
inq_last_12m                                       0
acc_open_past_24mths                               0
chargeoff_within_12_mths                           0
delinq_amnt                                        0
inq_fi                                             0
Length: 144, dtype: int64

###Work With Srings

####Dropping Columns

In [263]:
#DROP EMPTY COLUMNS
df = df.drop(columns = ['id', 'member_id', 'desc', 'url'])
df.head()

   loan_amnt  funded_amnt  ...  settlement_percentage settlement_term
0      10000        10000  ...                    NaN             NaN
1       4000         4000  ...                    NaN             NaN
2       5000         5000  ...                    NaN             NaN
3      23000        23000  ...                    NaN             NaN
4       8000         8000  ...                    NaN             NaN

[5 rows x 140 columns]

In [264]:
hardship_cols = [col for col in df.columns if col.startswith('hardship_')]
hardship_cols

['hardship_flag',
 'hardship_type',
 'hardship_reason',
 'hardship_status',
 'hardship_amount',
 'hardship_start_date',
 'hardship_end_date',
 'hardship_length',
 'hardship_dpd',
 'hardship_loan_status',
 'hardship_payoff_balance_amount',
 'hardship_last_payment_amount']

In [0]:
df = df.drop(columns = hardship_cols)

In [266]:
df.shape

(128412, 128)

###Removing percents (%)

In [0]:
# def remove_percent_to_float(x):
#   return float(x[:-1])

remove_percent_to_float = lambda x:float(x[:-1])

In [268]:
df['int_rate'] = df['int_rate'].apply(remove_percent_to_float)
df.head()

   loan_amnt  funded_amnt  ...  settlement_percentage settlement_term
0      10000        10000  ...                    NaN             NaN
1       4000         4000  ...                    NaN             NaN
2       5000         5000  ...                    NaN             NaN
3      23000        23000  ...                    NaN             NaN
4       8000         8000  ...                    NaN             NaN

[5 rows x 128 columns]

####1. Convert the term column from string to integer

In [0]:
#TRYING A NEW FORMULA TO CHANGE TERM COLUMN FROM STRING TO INT
convert_str_to_int = lambda x:int(x[:-7])

In [270]:
df['term'] = df['term'].apply(convert_str_to_int)
df['term'].head(5)

0    36
1    36
2    36
3    60
4    36
Name: term, dtype: int64

####2. Make a column named loan_status_is_great. It should contain the integer 1 if loan_status is "Current" or "Fully Paid." Else it should contain the integer 0.

In [271]:
#DEFINE LOAN_STATUS_IS_GREAT
loan_status_is_great = df['loan_status'].str.contains('Current', 'Fully Paid')
loan_status_is_great.head(5)

0     True
1     True
2    False
3     True
4     True
Name: loan_status, dtype: bool

In [272]:
#CREATE COLUMN HEADINGS
df['loan_status_is_great'] = loan_status_is_great
df.head()

   loan_amnt  funded_amnt  ...  settlement_term  loan_status_is_great
0      10000        10000  ...              NaN                  True
1       4000         4000  ...              NaN                  True
2       5000         5000  ...              NaN                 False
3      23000        23000  ...              NaN                  True
4       8000         8000  ...              NaN                  True

[5 rows x 129 columns]

In [273]:
#CONVERT FROM TRUE AND FALSE TO 0 AND 1
df['loan_status_is_great'] = df['loan_status_is_great']*1
df['loan_status_is_great'].head(5)

0    1
1    1
2    0
3    1
4    1
Name: loan_status_is_great, dtype: int64

###3. Make last_pymnt_d_month and last_pymnt_d_year columns.

####Working With Dates

Converting the string format of issue_d to numbers

In [274]:
last_payment = pd.to_datetime(df['issue_d'], infer_datetime_format=True)
last_payment.head(5)

0   2018-12-01
1   2018-12-01
2   2018-12-01
3   2018-12-01
4   2018-12-01
Name: issue_d, dtype: datetime64[ns]

**Months**

In [275]:
# THE MONTHS WOULD BE THE SAME SINCE LOAN TERMS ARE BETWEEN 3 and 5 YEARS
df['last_pymnt_d_month'] = last_payment.dt.month
df.head()

   loan_amnt  funded_amnt  ...  loan_status_is_great  last_pymnt_d_month
0      10000        10000  ...                     1                  12
1       4000         4000  ...                     1                  12
2       5000         5000  ...                     0                  12
3      23000        23000  ...                     1                  12
4       8000         8000  ...                     1                  12

[5 rows x 130 columns]

**Years**

In [276]:
##FINDING THE VALUES IN THE TERM COLUMN TO ADD TO THE ISSUE MONTH AND YEAR
pd.value_counts(df['term'])

36    88179
60    40233
Name: term, dtype: int64

In [0]:
#NOW WORKING ON THE YEAR
last_pymnt_d_year = last_payment.dt.year

In [278]:
last_pymnt_d_year.head(5)

0    2018
1    2018
2    2018
3    2018
4    2018
Name: issue_d, dtype: int64

In [279]:
#ADDING 3 OR 5 TO THE YEARS COLUMN
last_pymnt_d_year = last_pymnt_d_year + df['term']/12
last_pymnt_d_year.astype(int).head(5)

0    2021
1    2021
2    2021
3    2023
4    2021
dtype: int64

In [280]:
#CREATE COLUMN HEADING
df['last_pymnt_d_year']=last_pymnt_d_year.astype(int)
df.head()

   loan_amnt  funded_amnt  ...  last_pymnt_d_month  last_pymnt_d_year
0      10000        10000  ...                  12               2021
1       4000         4000  ...                  12               2021
2       5000         5000  ...                  12               2021
3      23000        23000  ...                  12               2023
4       8000         8000  ...                  12               2021

[5 rows x 131 columns]

#STRETCH

####1. There's one other column in the dataframe with percent signs. Remove them and convert to floats. You'll need to handle missing values.

In [281]:
df['revol_util'] = df['revol_util'].str.replace("%", " ")
df['revol_util'].head(5)

0      38
1    19.2
2    19.1
3      13
4    81.3
Name: revol_util, dtype: object

####2. Modify the emp_title column to replace titles with 'Other' if the title is not in the top 20.

Cleaning emp_title (from video)

In [282]:
df['emp_title'].value_counts(dropna=False).head(20)

NaN                   20947
Teacher                2090
Manager                1773
Registered Nurse        952
Driver                  924
RN                      726
Supervisor              697
Sales                   580
Project Manager         526
General Manager         523
Office Manager          521
Owner                   420
Director                402
Operations Manager      387
Truck Driver            387
Nurse                   326
Engineer                325
Sales Manager           304
manager                 301
Supervisor              270
Name: emp_title, dtype: int64

In [283]:
df['emp_title'].nunique()

43892

Clean the title and handle the missing values

In [0]:
def clean_title(title):
  if isinstance(title, str):
    return title.strip().lower()
  else:
    return 'unknown'

In [0]:
df['emp_title'] = df['emp_title'].apply(clean_title)

In [286]:
df['emp_title'].value_counts(dropna=False).head(20)

unknown               20947
teacher                2557
manager                2395
registered nurse       1418
driver                 1258
supervisor             1160
truck driver            920
rn                      834
office manager          805
sales                   803
general manager         791
project manager         720
owner                   625
director                523
operations manager      518
sales manager           500
police officer          440
nurse                   425
technician              420
engineer                412
Name: emp_title, dtype: int64

In [328]:
#TRYING TO NOT MANUALLY TYPE A LIST
top_20 = df['emp_title'].value_counts()[1:21].index.tolist()
top_20

['teacher',
 'manager',
 'registered nurse',
 'driver',
 'supervisor',
 'truck driver',
 'rn',
 'office manager',
 'sales',
 'general manager',
 'project manager',
 'owner',
 'director',
 'operations manager',
 'sales manager',
 'police officer',
 'nurse',
 'technician',
 'engineer',
 'administrative assistant']

In [0]:
def change_to_other(x):
  if x in top_20:
      return x
  else:
      return 'other'

In [0]:
others_column = df['emp_title'].apply(change_to_other)

In [331]:
others_column.value_counts()

other                       110479
teacher                       2557
manager                       2395
registered nurse              1418
driver                        1258
supervisor                    1160
truck driver                   920
rn                             834
office manager                 805
sales                          803
general manager                791
project manager                720
owner                          625
director                       523
operations manager             518
sales manager                  500
police officer                 440
nurse                          425
technician                     420
engineer                       412
administrative assistant       409
Name: emp_title, dtype: int64

In [337]:
df['emp_title'] = others_column
df['emp_title'].value_counts()

other                       110479
teacher                       2557
manager                       2395
registered nurse              1418
driver                        1258
supervisor                    1160
truck driver                   920
rn                             834
office manager                 805
sales                          803
general manager                791
project manager                720
owner                          625
director                       523
operations manager             518
sales manager                  500
police officer                 440
nurse                          425
technician                     420
engineer                       412
administrative assistant       409
Name: emp_title, dtype: int64