<a href="https://colab.research.google.com/github/Nov05/DS-Unit-1-Sprint-1-Dealing-With-Data/blob/master/module4-makefeatures%5CLS_DS_124_Make_features.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
# Changed by Nov05 on 2019-05-30
# module4-makefeatures\

In [272]:
# Load the Drive helper and mount
from google.colab import drive
drive.mount('drive')
!ls 'drive/My Drive/' # test the drive

Drive already mounted at drive; to attempt to forcibly remount, call drive.mount("drive", force_remount=True).
'Colab Notebooks'   data  'Lambda School'

In [0]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
from datetime import datetime
from dateutil.parser import parse
import re
import calendar

%matplotlib inline

In [0]:
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)

_Lambda School Data Science_

# Make features

Objectives
-  understand the purpose of feature engineering
-  work with strings in pandas
- work with dates and times in pandas

Links
- [Feature Engineering](https://en.wikipedia.org/wiki/Feature_engineering)
- Python Data Science Handbook
  - [Chapter 3.10](https://jakevdp.github.io/PythonDataScienceHandbook/03.10-working-with-strings.html), Vectorized String Operations
  - [Chapter 3.11](https://jakevdp.github.io/PythonDataScienceHandbook/03.11-working-with-time-series.html), Working with Time Series

## Get LendingClub data

[Source](https://www.lendingclub.com/info/download-data.action)

In [276]:
!wget https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip

--2019-05-31 01:56:01--  https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip
Resolving resources.lendingclub.com (resources.lendingclub.com)... 64.48.1.20
Connecting to resources.lendingclub.com (resources.lendingclub.com)|64.48.1.20|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [application/zip]
Saving to: ‘LoanStats_2018Q4.csv.zip.1’

LoanStats_2018Q4.cs     [                <=> ]  21.42M   881KB/s    in 25s

2019-05-31 01:56:27 (869 KB/s) - ‘LoanStats_2018Q4.csv.zip.1’ saved [22458773]

You can find the file here on Google Drive.  
The path is **content/LoanStats_2018Q4.csv**.

<img src="https://raw.githubusercontent.com/Nov05/Lambda-School-Data-Science/master/pictures/2019-05-30%2014_03_57-LS_DS_124_Make_features.ipynb%20-%20Colaboratory.png" width="300">

In [277]:
!unzip LoanStats_2018Q4.csv.zip

Archive:  LoanStats_2018Q4.csv.zip
replace LoanStats_2018Q4.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename:

In [278]:
# check the file format
!head LoanStats_2018Q4.csv

Notes offered by Prospectus (https://www.lendingclub.com/info/prospectus.action)
"id","member_id","loan_amnt","funded_amnt","funded_amnt_inv","term","int_rate","installment","grade","sub_grade","emp_title","emp_length","home_ownership","annual_inc","verification_status","issue_d","loan_status","pymnt_plan","url","desc","purpose","title","zip_code","addr_state","dti","delinq_2yrs","earliest_cr_line","inq_last_6mths","mths_since_last_delinq","mths_since_last_record","open_acc","pub_rec","revol_bal","revol_util","total_acc","initial_list_status","out_prncp","out_prncp_inv","total_pymnt","total_pymnt_inv","total_rec_prncp","total_rec_int","total_rec_late_fee","recoveries","collection_recovery_fee","last_pymnt_d","last_pymnt_amnt","next_pymnt_d","last_credit_pull_d","collections_12_mths_ex_med","mths_since_last_major_derog","policy_code","application_type","annual_inc_joint","dti_joint","verification_status_joint","acc_now_delinq","tot_coll_amt","tot_cur_bal","open_acc_6m","open_act_il","open_il_12m","open_il_24m","mths_since_rcnt_il","total_bal_il","il_util","open_rv_12m","open_rv_24m","max_bal_bc","all_util","total_rev_hi_lim","inq_fi","total_cu_tl","inq_last_12m","acc_open_past_24mths","avg_cur_bal","bc_open_to_buy","bc_util","chargeoff_within_12_mths","delinq_amnt","mo_sin_old_il_acct","mo_sin_old_rev_tl_op","mo_sin_rcnt_rev_tl_op","mo_sin_rcnt_tl","mort_acc","mths_since_recent_bc","mths_since_recent_bc_dlq","mths_since_recent_inq","mths_since_recent_revol_delinq","num_accts_ever_120_pd","num_actv_bc_tl","num_actv_rev_tl","num_bc_sats","num_bc_tl","num_il_tl","num_op_rev_tl","num_rev_accts","num_rev_tl_bal_gt_0","num_sats","num_tl_120dpd_2m","num_tl_30dpd","num_tl_90g_dpd_24m","num_tl_op_past_12m","pct_tl_nvr_dlq","percent_bc_gt_75","pub_rec_bankruptcies","tax_liens","tot_hi_cred_lim","total_bal_ex_mort","total_bc_limit","total_il_high_credit_limit","revol_bal_joint","sec_app_earliest_cr_line","sec_app_inq_last_6mths","sec_app_mort_acc","sec_app_open_acc","sec_app_revol_util","sec_app_open_act_il","sec_app_num_rev_accts","sec_app_chargeoff_within_12_mths","sec_app_collections_12_mths_ex_med","sec_app_mths_since_last_major_derog","hardship_flag","hardship_type","hardship_reason","hardship_status","deferral_term","hardship_amount","hardship_start_date","hardship_end_date","payment_plan_start_date","hardship_length","hardship_dpd","hardship_loan_status","orig_projected_additional_accrued_interest","hardship_payoff_balance_amount","hardship_last_payment_amount","debt_settlement_flag","debt_settlement_flag_date","settlement_status","settlement_date","settlement_amount","settlement_percentage","settlement_term"
"","","10000","10000","10000"," 36 months"," 10.33%","324.23","B","B1","","< 1 year","MORTGAGE","280000","Not Verified","Dec-2018","Current","n","","","debt_consolidation","Debt consolidation","974xx","OR","6.15","2","Jan-1996","0","18","","14","0","9082","38%","23","w","9279.39","9279.39","964.08","964.08","720.61","243.47","0.0","0.0","0.0","Apr-2019","324.23","Apr-2019","Apr-2019","0","","1","Individual","","","","0","671","246828","1","3","2","3","1","48552","62","1","3","4923","46","23900","2","7","1","7","17631","11897","43.1","0","0","158","275","11","1","1","11","","11","","0","3","4","7","7","10","9","11","4","14","0","0","0","4","91.3","28.6","0","0","367828","61364","20900","54912","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","9600","9600","9600"," 36 months"," 12.98%","323.37","B","B5","","n/a","MORTGAGE","35704","Not Verified","Dec-2018","Current","n","","","home_improvement","Home improvement","401xx","KY","0.84","0","Nov-2003","0","69","","5","0","748","11.5%","23","w","8934.25","8934.25","994.35","994.35","665.75","328.60","0.0","0.0","0.0","Apr-2019","323.37","May-2019","Apr-2019","0","","1","Individual","","","","0","0","748","0","0","0","0","44","0","","0","3","748","12","6500","0","0","1","3","150","3452","17.8","0","0","181","100","13","13","0","16","","3","","0","1","1","2","2","16","5","7","1","5","0","0","0","0","95.5","0","0","0","6500","748","4200","0","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","4000","4000","4000"," 36 months"," 23.40%","155.68","E","E1","Security","3 years","RENT","90000","Source Verified","Dec-2018","Current","n","","","debt_consolidation","Debt consolidation","070xx","NJ","26.33","0","Sep-2006","4","59","","15","0","5199","19.2%","20","w","3762.39","3762.39","459.24","459.24","237.61","221.63","0.0","0.0","0.0","Apr-2019","155.68","Apr-2019","Apr-2019","0","","1","Individual","","","","0","0","66926","5","4","3","4","5","61727","86","6","11","1353","68","27100","4","0","4","15","4462","20174","7.9","0","0","147","118","2","2","0","2","","0","","0","5","7","9","9","8","11","12","7","15","0","0","0","9","95","0","0","0","98655","66926","21900","71555","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","2500","2500","2500"," 36 months"," 13.56%","84.92","C","C1","Chef","10+ years","RENT","55000","Not Verified","Dec-2018","Current","n","","","debt_consolidation","Debt consolidation","109xx","NY","18.24","0","Apr-2001","1","","45","9","1","4341","10.3%","34","w","2328.06","2328.06","251.94","251.94","171.94","80.00","0.0","0.0","0.0","Apr-2019","84.92","Apr-2019","Apr-2019","0","","1","Individual","","","","0","0","16901","2","2","1","2","2","12560","69","2","7","2137","28","42000","1","11","2","9","1878","34360","5.9","0","0","140","212","1","1","0","1","","2","","0","2","5","3","3","16","7","18","5","9","0","0","0","3","100","0","1","0","60124","16901","36500","18124","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","30000","30000","30000"," 60 months"," 18.94%","777.23","D","D2","Postmaster ","10+ years","MORTGAGE","90000","Source Verified","Dec-2018","Current","n","","","debt_consolidation","Debt consolidation","713xx","LA","26.52","0","Jun-1987","0","71","75","13","1","12315","24.2%","44","w","29074.35","29074.35","2284.34","2284.34","925.65","1358.69","0.0","0.0","0.0","Apr-2019","777.23","Apr-2019","Apr-2019","0","","1","Individual","","","","0","1208","321915","4","4","2","3","3","87153","88","4","5","998","57","50800","2","15","2","10","24763","13761","8.3","0","0","163","378","4","3","3","4","","4","","0","2","4","4","9","27","8","14","4","13","0","0","0","6","95","0","1","0","372872","99468","15000","94072","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","5000","5000","5000"," 36 months"," 17.97%","180.69","D","D1","Administrative","6 years","MORTGAGE","59280","Source Verified","Dec-2018","Current","n","","","debt_consolidation","Debt consolidation","490xx","MI","10.51","0","Apr-2011","0","","","8","0","4599","19.1%","13","w","4678.21","4678.21","534.58","534.58","321.79","212.79","0.0","0.0","0.0","Apr-2019","180.69","Apr-2019","Apr-2019","0","","1","Individual","","","","0","0","110299","0","1","0","2","14","7150","72","0","2","0","35","24100","1","5","0","4","18383","13800","0","0","0","87","92","15","14","2","77","","14","","0","0","3","3","3","4","6","7","3","8","0","0","0","0","100","0","0","0","136927","11749","13800","10000","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","23000","23000","23000"," 60 months"," 20.89%","620.81","D","D4","Operator","5 years","RENT","68107","Source Verified","Dec-2018","Current","n","","","debt_consolidation","Debt consolidation","672xx","KS","0.52","0","Feb-1997","0","","","5","0","976","13%","10","w","22307.21","22307.21","1824.21","1824.21","692.79","1131.42","0.0","0.0","0.0","Apr-2019","620.81","Apr-2019","Apr-2019","1","","1","Individual","","","","0","2693","976","0","0","0","0","36","0","","3","4","0","13","7500","2","2","4","4","195","3300","0","0","0","237","262","10","10","0","10","","9","","0","0","1","3","4","3","5","7","1","5","0","0","0","3","100","0","0","0","7500","976","3300","0","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","8000","8000","8000"," 36 months"," 23.40%","311.35","E","E1","Manager","10+ years","OWN","43000","Source Verified","Dec-2018","Current","n","","","debt_consolidation","Debt consolidation","357xx","AL","33.24","0","Jan-1995","0","","107","8","1","9019","81.3%","16","w","7524.80","7524.80","918.45","918.45","475.20","443.25","0.0","0.0","0.0","Apr-2019","311.35","Apr-2019","Apr-2019","0","","1","Individual","","","","0","0","169223","0","3","2","2","7","22059","69","0","0","2174","72","11100","1","1","1","2","21153","126","94.5","0","0","148","287","44","7","1","51","","7","","0","1","4","1","2","8","4","7","4","8","0","0","0","2","100","100","1","0","199744","31078","2300","32206","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""

## Load LendingClub data

pandas documentation
- [`read_csv`](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_csv.html)
- [`options.display`](https://pandas.pydata.org/pandas-docs/stable/options.html#available-options)

In [279]:
my_data = pd.read_csv('LoanStats_2018Q4.csv', header=1)

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (0,123,124,125,128,129,130,133,138,139,140) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [280]:
my_data.shape

(128414, 144)

In [281]:
my_data.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,url,desc,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,annual_inc_joint,dti_joint,verification_status_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_act_il,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,acc_open_past_24mths,avg_cur_bal,bc_open_to_buy,bc_util,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,mths_since_recent_bc_dlq,mths_since_recent_inq,mths_since_recent_revol_delinq,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,revol_bal_joint,sec_app_earliest_cr_line,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_open_act_il,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog,hardship_flag,hardship_type,hardship_reason,hardship_status,deferral_term,hardship_amount,hardship_start_date,hardship_end_date,payment_plan_start_date,hardship_length,hardship_dpd,hardship_loan_status,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
0,NaN,NaN,10000.0,10000.0,10000.0,36 months,10.33%,324.23,B,B1,NaN,< 1 year,MORTGAGE,280000.0,Not Verified,Dec-2018,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,974xx,OR,6.15,2.0,Jan-1996,0.0,18.0,NaN,14.0,0.0,9082.0,38%,23.0,w,9279.39,9279.39,964.08,964.08,720.61,243.47,0.0,0.0,0.0,Apr-2019,324.23,Apr-2019,Apr-2019,0.0,NaN,1.0,Individual,NaN,NaN,NaN,0.0,671.0,246828.0,1.0,3.0,2.0,3.0,1.0,48552.0,62.0,1.0,3.0,4923.0,46.0,23900.0,2.0,7.0,1.0,7.0,17631.0,11897.0,43.1,0.0,0.0,158.0,275.0,11.0,1.0,1.0,11.0,NaN,11.0,NaN,0.0,3.0,4.0,7.0,7.0,10.0,9.0,11.0,4.0,14.0,0.0,0.0,0.0,4.0,91.3,28.6,0.0,0.0,367828.0,61364.0,20900.0,54912.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,9600.0,9600.0,9600.0,36 months,12.98%,323.37,B,B5,NaN,NaN,MORTGAGE,35704.0,Not Verified,Dec-2018,Current,n,NaN,NaN,home_improvement,Home improvement,401xx,KY,0.84,0.0,Nov-2003,0.0,69.0,NaN,5.0,0.0,748.0,11.5%,23.0,w,8934.25,8934.25,994.35,994.35,665.75,328.60,0.0,0.0,0.0,Apr-2019,323.37,May-2019,Apr-2019,0.0,NaN,1.0,Individual,NaN,NaN,NaN,0.0,0.0,748.0,0.0,0.0,0.0,0.0,44.0,0.0,NaN,0.0,3.0,748.0,12.0,6500.0,0.0,0.0,1.0,3.0,150.0,3452.0,17.8,0.0,0.0,181.0,100.0,13.0,13.0,0.0,16.0,NaN,3.0,NaN,0.0,1.0,1.0,2.0,2.0,16.0,5.0,7.0,1.0,5.0,0.0,0.0,0.0,0.0,95.5,0.0,0.0,0.0,6500.0,748.0,4200.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,4000.0,4000.0,4000.0,36 months,23.40%,155.68,E,E1,Security,3 years,RENT,90000.0,Source Verified,Dec-2018,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,070xx,NJ,26.33,0.0,Sep-2006,4.0,59.0,NaN,15.0,0.0,5199.0,19.2%,20.0,w,3762.39,3762.39,459.24,459.24,237.61,221.63,0.0,0.0,0.0,Apr-2019,155.68,Apr-2019,Apr-2019,0.0,NaN,1.0,Individual,NaN,NaN,NaN,0.0,0.0,66926.0,5.0,4.0,3.0,4.0,5.0,61727.0,86.0,6.0,11.0,1353.0,68.0,27100.0,4.0,0.0,4.0,15.0,4462.0,20174.0,7.9,0.0,0.0,147.0,118.0,2.0,2.0,0.0,2.0,NaN,0.0,NaN,0.0,5.0,7.0,9.0,9.0,8.0,11.0,12.0,7.0,15.0,0.0,0.0,0.0,9.0,95.0,0.0,0.0,0.0,98655.0,66926.0,21900.0,71555.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,2500.0,2500.0,2500.0,36 months,13.56%,84.92,C,C1,Chef,10+ years,RENT,55000.0,Not Verified,Dec-2018,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,109xx,NY,18.24,0.0,Apr-2001,1.0,NaN,45.0,9.0,1.0,4341.0,10.3%,34.0,w,2328.06,2328.06,251.94,251.94,171.94,80.00,0.0,0.0,0.0,Apr-2019,84.92,Apr-2019,Apr-2019,0.0,NaN,1.0,Individual,NaN,NaN,NaN,0.0,0.0,16901.0,2.0,2.0,1.0,2.0,2.0,12560.0,69.0,2.0,7.0,2137.0,28.0,42000.0,1.0,11.0,2.0,9.0,1878.0,34360.0,5.9,0.0,0.0,140.0,212.0,1.0,1.0,0.0,1.0,NaN,2.0,NaN,0.0,2.0,5.0,3.0,3.0,16.0,7.0,18.0,5.0,9.0,0.0,0.0,0.0,3.0,100.0,0.0,1.0,0.0,60124.0,16901.0,36500.0,18124.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,30000.0,30000.0,30000.0,60 months,18.94%,777.23,D,D2,Postmaster,10+ years,MORTGAGE,90000.0,Source Verified,Dec-2018,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,713xx,LA,26.52,0.0,Jun-1987,0.0,71.0,75.0,13.0,1.0,12315.0,24.2%,44.0,w,29074.35,29074.35,2284.34,2284.34,925.65,1358.69,0.0,0.0,0.0,Apr-2019,777.23,Apr-2019,Apr-2019,0.0,NaN,1.0,Individual,NaN,NaN,NaN,0.0,1208.0,321915.0,4.0,4.0,2.0,3.0,3.0,87153.0,88.0,4.0,5.0,998.0,57.0,50800.0,2.0,15.0,2.0,10.0,24763.0,13761.0,8.3,0.0,0.0,163.0,378.0,4.0,3.0,3.0,4.0,NaN,4.0,NaN,0.0,2.0,4.0,4.0,9.0,27.0,8.0,14.0,4.0,13.0,0.0,0.0,0.0,6.0,95.0,0.0,1.0,0.0,372872.0,99468.0,15000.0,94072.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN

In [282]:
my_data.dtypes

id                                             object
member_id                                     float64
loan_amnt                                     float64
funded_amnt                                   float64
funded_amnt_inv                               float64
term                                           object
int_rate                                       object
installment                                   float64
grade                                          object
sub_grade                                      object
emp_title                                      object
emp_length                                     object
home_ownership                                 object
annual_inc                                    float64
verification_status                            object
issue_d                                        object
loan_status                                    object
pymnt_plan                                     object
url                                           float64
desc                                          float64
purpose                                        object
title                                          object
zip_code                                       object
addr_state                                     object
dti                                           float64
delinq_2yrs                                   float64
earliest_cr_line                               object
inq_last_6mths                                float64
mths_since_last_delinq                        float64
mths_since_last_record                        float64
open_acc                                      float64
pub_rec                                       float64
revol_bal                                     float64
revol_util                                     object
total_acc                                     float64
initial_list_status                            object
out_prncp                                     float64
out_prncp_inv                                 float64
total_pymnt                                   float64
total_pymnt_inv                               float64
total_rec_prncp                               float64
total_rec_int                                 float64
total_rec_late_fee                            float64
recoveries                                    float64
collection_recovery_fee                       float64
last_pymnt_d                                   object
last_pymnt_amnt                               float64
next_pymnt_d                                   object
last_credit_pull_d                             object
collections_12_mths_ex_med                    float64
mths_since_last_major_derog                   float64
policy_code                                   float64
application_type                               object
annual_inc_joint                              float64
dti_joint                                     float64
verification_status_joint                      object
acc_now_delinq                                float64
tot_coll_amt                                  float64
tot_cur_bal                                   float64
open_acc_6m                                   float64
open_act_il                                   float64
open_il_12m                                   float64
open_il_24m                                   float64
mths_since_rcnt_il                            float64
total_bal_il                                  float64
il_util                                       float64
open_rv_12m                                   float64
open_rv_24m                                   float64
max_bal_bc                                    float64
all_util                                      float64
total_rev_hi_lim                              float64
inq_fi                                        float64
total_cu_tl                                   float64
inq_last_12m                                  float64
acc_open_past_24mths                          float64
avg_cur_bal                                   float64
bc_open_to_buy                                float64
bc_util                                       float64
chargeoff_within_12_mths                      float64
delinq_amnt                                   float64
mo_sin_old_il_acct                            float64
mo_sin_old_rev_tl_op                          float64
mo_sin_rcnt_rev_tl_op                         float64
mo_sin_rcnt_tl                                float64
mort_acc                                      float64
mths_since_recent_bc                          float64
mths_since_recent_bc_dlq                      float64
mths_since_recent_inq                         float64
mths_since_recent_revol_delinq                float64
num_accts_ever_120_pd                         float64
num_actv_bc_tl                                float64
num_actv_rev_tl                               float64
num_bc_sats                                   float64
num_bc_tl                                     float64
num_il_tl                                     float64
num_op_rev_tl                                 float64
num_rev_accts                                 float64
num_rev_tl_bal_gt_0                           float64
num_sats                                      float64
num_tl_120dpd_2m                              float64
num_tl_30dpd                                  float64
num_tl_90g_dpd_24m                            float64
num_tl_op_past_12m                            float64
pct_tl_nvr_dlq                                float64
percent_bc_gt_75                              float64
pub_rec_bankruptcies                          float64
tax_liens                                     float64
tot_hi_cred_lim                               float64
total_bal_ex_mort                             float64
total_bc_limit                                float64
total_il_high_credit_limit                    float64
revol_bal_joint                               float64
sec_app_earliest_cr_line                       object
sec_app_inq_last_6mths                        float64
sec_app_mort_acc                              float64
sec_app_open_acc                              float64
sec_app_revol_util                            float64
sec_app_open_act_il                           float64
sec_app_num_rev_accts                         float64
sec_app_chargeoff_within_12_mths              float64
sec_app_collections_12_mths_ex_med            float64
sec_app_mths_since_last_major_derog           float64
hardship_flag                                  object
hardship_type                                  object
hardship_reason                                object
hardship_status                                object
deferral_term                                 float64
hardship_amount                               float64
hardship_start_date                            object
hardship_end_date                              object
payment_plan_start_date                        object
hardship_length                               float64
hardship_dpd                                  float64
hardship_loan_status                           object
orig_projected_additional_accrued_interest    float64
hardship_payoff_balance_amount                float64
hardship_last_payment_amount                  float64
debt_settlement_flag                           object
debt_settlement_flag_date                      object
settlement_status                              object
settlement_date                                object
settlement_amount                             float64
settlement_percentage                         float64
settlement_term                               float64
dtype: object

In [283]:
# check the percentage of NA fields for each column
na_percentage = my_data.isna().sum() / my_data.shape[0]
na_percentage

id                                            0.999984
member_id                                     1.000000
loan_amnt                                     0.000016
funded_amnt                                   0.000016
funded_amnt_inv                               0.000016
term                                          0.000016
int_rate                                      0.000016
installment                                   0.000016
grade                                         0.000016
sub_grade                                     0.000016
emp_title                                     0.163136
emp_length                                    0.091158
home_ownership                                0.000016
annual_inc                                    0.000016
verification_status                           0.000016
issue_d                                       0.000016
loan_status                                   0.000016
pymnt_plan                                    0.000016
url                                           1.000000
desc                                          1.000000
purpose                                       0.000016
title                                         0.000016
zip_code                                      0.000016
addr_state                                    0.000016
dti                                           0.001861
delinq_2yrs                                   0.000016
earliest_cr_line                              0.000016
inq_last_6mths                                0.000016
mths_since_last_delinq                        0.562228
mths_since_last_record                        0.879686
open_acc                                      0.000016
pub_rec                                       0.000016
revol_bal                                     0.000016
revol_util                                    0.001230
total_acc                                     0.000016
initial_list_status                           0.000016
out_prncp                                     0.000016
out_prncp_inv                                 0.000016
total_pymnt                                   0.000016
total_pymnt_inv                               0.000016
total_rec_prncp                               0.000016
total_rec_int                                 0.000016
total_rec_late_fee                            0.000016
recoveries                                    0.000016
collection_recovery_fee                       0.000016
last_pymnt_d                                  0.001262
last_pymnt_amnt                               0.000016
next_pymnt_d                                  0.046319
last_credit_pull_d                            0.000023
collections_12_mths_ex_med                    0.000016
mths_since_last_major_derog                   0.772766
policy_code                                   0.000016
application_type                              0.000016
annual_inc_joint                              0.869313
dti_joint                                     0.869313
verification_status_joint                     0.884374
acc_now_delinq                                0.000016
tot_coll_amt                                  0.000016
tot_cur_bal                                   0.000016
open_acc_6m                                   0.000016
open_act_il                                   0.000016
open_il_12m                                   0.000016
open_il_24m                                   0.000016
mths_since_rcnt_il                            0.034887
total_bal_il                                  0.000016
il_util                                       0.157896
open_rv_12m                                   0.000016
open_rv_24m                                   0.000016
max_bal_bc                                    0.000016
all_util                                      0.000304
total_rev_hi_lim                              0.000016
inq_fi                                        0.000016
total_cu_tl                                   0.000016
inq_last_12m                                  0.000016
acc_open_past_24mths                          0.000016
avg_cur_bal                                   0.000117
bc_open_to_buy                                0.013184
bc_util                                       0.013675
chargeoff_within_12_mths                      0.000016
delinq_amnt                                   0.000016
mo_sin_old_il_acct                            0.034887
mo_sin_old_rev_tl_op                          0.000016
mo_sin_rcnt_rev_tl_op                         0.000016
mo_sin_rcnt_tl                                0.000016
mort_acc                                      0.000016
mths_since_recent_bc                          0.012405
mths_since_recent_bc_dlq                      0.804001
mths_since_recent_inq                         0.124979
mths_since_recent_revol_delinq                0.713567
num_accts_ever_120_pd                         0.000016
num_actv_bc_tl                                0.000016
num_actv_rev_tl                               0.000016
num_bc_sats                                   0.000016
num_bc_tl                                     0.000016
num_il_tl                                     0.000016
num_op_rev_tl                                 0.000016
num_rev_accts                                 0.000016
num_rev_tl_bal_gt_0                           0.000016
num_sats                                      0.000016
num_tl_120dpd_2m                              0.022280
num_tl_30dpd                                  0.000016
num_tl_90g_dpd_24m                            0.000016
num_tl_op_past_12m                            0.000016
pct_tl_nvr_dlq                                0.000016
percent_bc_gt_75                              0.013192
pub_rec_bankruptcies                          0.000016
tax_liens                                     0.000016
tot_hi_cred_lim                               0.000016
total_bal_ex_mort                             0.000016
total_bc_limit                                0.000016
total_il_high_credit_limit                    0.000016
revol_bal_joint                               0.869313
sec_app_earliest_cr_line                      0.869313
sec_app_inq_last_6mths                        0.869313
sec_app_mort_acc                              0.869313
sec_app_open_acc                              0.869313
sec_app_revol_util                            0.871322
sec_app_open_act_il                           0.869313
sec_app_num_rev_accts                         0.869313
sec_app_chargeoff_within_12_mths              0.869313
sec_app_collections_12_mths_ex_med            0.869313
sec_app_mths_since_last_major_derog           0.959864
hardship_flag                                 0.000016
hardship_type                                 0.999992
hardship_reason                               0.999992
hardship_status                               0.999992
deferral_term                                 0.999992
hardship_amount                               0.999992
hardship_start_date                           0.999992
hardship_end_date                             0.999992
payment_plan_start_date                       0.999992
hardship_length                               0.999992
hardship_dpd                                  0.999992
hardship_loan_status                          0.999992
orig_projected_additional_accrued_interest    0.999992
hardship_payoff_balance_amount                0.999992
hardship_last_payment_amount                  0.999992
debt_settlement_flag                          0.000016
debt_settlement_flag_date                     0.999953
settlement_status                             0.999953
settlement_date                               0.999953
settlement_amount                             0.999953
settlement_percentage                         0.999953
settlement_term                               0.999953
dtype: float64

In [284]:
# in this case, drop columns with NA value percentage higher than 50%. 
# I don't usually do this. But this is just a practice, drop some columns for better readability.
col_select = na_percentage <= 0.5
col_select.index[col_select] # get column names that I want to keep

Index(['loan_amnt', 'funded_amnt', 'funded_amnt_inv', 'term', 'int_rate',
       'installment', 'grade', 'sub_grade', 'emp_title', 'emp_length',
       ...
       'pct_tl_nvr_dlq', 'percent_bc_gt_75', 'pub_rec_bankruptcies',
       'tax_liens', 'tot_hi_cred_lim', 'total_bal_ex_mort', 'total_bc_limit',
       'total_il_high_credit_limit', 'hardship_flag', 'debt_settlement_flag'],
      dtype='object', length=101)

In [285]:
# drop columns
my_data = my_data[col_select.index[col_select]]
my_data.head()

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,policy_code,application_type,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_act_il,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,acc_open_past_24mths,avg_cur_bal,bc_open_to_buy,bc_util,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,mths_since_recent_inq,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,hardship_flag,debt_settlement_flag
0,10000.0,10000.0,10000.0,36 months,10.33%,324.23,B,B1,NaN,< 1 year,MORTGAGE,280000.0,Not Verified,Dec-2018,Current,n,debt_consolidation,Debt consolidation,974xx,OR,6.15,2.0,Jan-1996,0.0,14.0,0.0,9082.0,38%,23.0,w,9279.39,9279.39,964.08,964.08,720.61,243.47,0.0,0.0,0.0,Apr-2019,324.23,Apr-2019,Apr-2019,0.0,1.0,Individual,0.0,671.0,246828.0,1.0,3.0,2.0,3.0,1.0,48552.0,62.0,1.0,3.0,4923.0,46.0,23900.0,2.0,7.0,1.0,7.0,17631.0,11897.0,43.1,0.0,0.0,158.0,275.0,11.0,1.0,1.0,11.0,11.0,0.0,3.0,4.0,7.0,7.0,10.0,9.0,11.0,4.0,14.0,0.0,0.0,0.0,4.0,91.3,28.6,0.0,0.0,367828.0,61364.0,20900.0,54912.0,N,N
1,9600.0,9600.0,9600.0,36 months,12.98%,323.37,B,B5,NaN,NaN,MORTGAGE,35704.0,Not Verified,Dec-2018,Current,n,home_improvement,Home improvement,401xx,KY,0.84,0.0,Nov-2003,0.0,5.0,0.0,748.0,11.5%,23.0,w,8934.25,8934.25,994.35,994.35,665.75,328.60,0.0,0.0,0.0,Apr-2019,323.37,May-2019,Apr-2019,0.0,1.0,Individual,0.0,0.0,748.0,0.0,0.0,0.0,0.0,44.0,0.0,NaN,0.0,3.0,748.0,12.0,6500.0,0.0,0.0,1.0,3.0,150.0,3452.0,17.8,0.0,0.0,181.0,100.0,13.0,13.0,0.0,16.0,3.0,0.0,1.0,1.0,2.0,2.0,16.0,5.0,7.0,1.0,5.0,0.0,0.0,0.0,0.0,95.5,0.0,0.0,0.0,6500.0,748.0,4200.0,0.0,N,N
2,4000.0,4000.0,4000.0,36 months,23.40%,155.68,E,E1,Security,3 years,RENT,90000.0,Source Verified,Dec-2018,Current,n,debt_consolidation,Debt consolidation,070xx,NJ,26.33,0.0,Sep-2006,4.0,15.0,0.0,5199.0,19.2%,20.0,w,3762.39,3762.39,459.24,459.24,237.61,221.63,0.0,0.0,0.0,Apr-2019,155.68,Apr-2019,Apr-2019,0.0,1.0,Individual,0.0,0.0,66926.0,5.0,4.0,3.0,4.0,5.0,61727.0,86.0,6.0,11.0,1353.0,68.0,27100.0,4.0,0.0,4.0,15.0,4462.0,20174.0,7.9,0.0,0.0,147.0,118.0,2.0,2.0,0.0,2.0,0.0,0.0,5.0,7.0,9.0,9.0,8.0,11.0,12.0,7.0,15.0,0.0,0.0,0.0,9.0,95.0,0.0,0.0,0.0,98655.0,66926.0,21900.0,71555.0,N,N
3,2500.0,2500.0,2500.0,36 months,13.56%,84.92,C,C1,Chef,10+ years,RENT,55000.0,Not Verified,Dec-2018,Current,n,debt_consolidation,Debt consolidation,109xx,NY,18.24,0.0,Apr-2001,1.0,9.0,1.0,4341.0,10.3%,34.0,w,2328.06,2328.06,251.94,251.94,171.94,80.00,0.0,0.0,0.0,Apr-2019,84.92,Apr-2019,Apr-2019,0.0,1.0,Individual,0.0,0.0,16901.0,2.0,2.0,1.0,2.0,2.0,12560.0,69.0,2.0,7.0,2137.0,28.0,42000.0,1.0,11.0,2.0,9.0,1878.0,34360.0,5.9,0.0,0.0,140.0,212.0,1.0,1.0,0.0,1.0,2.0,0.0,2.0,5.0,3.0,3.0,16.0,7.0,18.0,5.0,9.0,0.0,0.0,0.0,3.0,100.0,0.0,1.0,0.0,60124.0,16901.0,36500.0,18124.0,N,N
4,30000.0,30000.0,30000.0,60 months,18.94%,777.23,D,D2,Postmaster,10+ years,MORTGAGE,90000.0,Source Verified,Dec-2018,Current,n,debt_consolidation,Debt consolidation,713xx,LA,26.52,0.0,Jun-1987,0.0,13.0,1.0,12315.0,24.2%,44.0,w,29074.35,29074.35,2284.34,2284.34,925.65,1358.69,0.0,0.0,0.0,Apr-2019,777.23,Apr-2019,Apr-2019,0.0,1.0,Individual,0.0,1208.0,321915.0,4.0,4.0,2.0,3.0,3.0,87153.0,88.0,4.0,5.0,998.0,57.0,50800.0,2.0,15.0,2.0,10.0,24763.0,13761.0,8.3,0.0,0.0,163.0,378.0,4.0,3.0,3.0,4.0,4.0,0.0,2.0,4.0,4.0,9.0,27.0,8.0,14.0,4.0,13.0,0.0,0.0,0.0,6.0,95.0,0.0,1.0,0.0,372872.0,99468.0,15000.0,94072.0,N,N

In [286]:
# describe non-numeric columns
# my_data.describe(include=['object'])
# or
my_data.describe(exclude=[np.number])

,term,int_rate,grade,sub_grade,emp_title,emp_length,home_ownership,verification_status,issue_d,loan_status,pymnt_plan,purpose,title,zip_code,addr_state,earliest_cr_line,revol_util,initial_list_status,last_pymnt_d,next_pymnt_d,last_credit_pull_d,application_type,hardship_flag,debt_settlement_flag
count,128412,128412,128412,128412,107465,116708,128412,128412,128412,128412,128412,128412,128412,128412,128412,128412,128256,128412,128252,122466,128411,128412,128412,128412
unique,2,46,7,35,43892,11,4,3,3,7,2,12,12,880,50,644,1074,2,7,3,9,2,2,2
top,36 months,13.56%,A,A4,Teacher,10+ years,MORTGAGE,Not Verified,Oct-2018,Current,n,debt_consolidation,Debt consolidation,112xx,CA,Aug-2006,0%,w,Apr-2019,May-2019,Apr-2019,Individual,N,N
freq,88179,6976,38011,9770,2090,38826,63490,58350,46305,120550,128411,70603,70603,1370,17879,1130,1132,114498,74937,67610,122720,111630,128411,128406

In [287]:
# check non-numeric values: there are whitespaces, NAs
for col, dtype in enumerate(my_data.dtypes):
  if dtype == 'object':
    print(my_data.columns[col])
    print(my_data.iloc[:, col].unique(), '\n')

term
[' 36 months' ' 60 months' nan]

int_rate
[' 10.33%' ' 12.98%' ' 23.40%' ' 13.56%' ' 18.94%' ' 17.97%' ' 20.89%'
 ' 11.80%' ' 19.92%' ' 26.31%' ' 14.47%' ' 15.02%' ' 16.14%' ' 11.31%'
 ' 27.27%' ' 10.72%' '  6.46%' ' 16.91%' '  8.81%' '  7.56%' ' 22.35%'
 '  8.19%' ' 25.34%' ' 30.75%' '  7.02%' ' 24.37%' ' 30.65%' '  6.00%'
 ' 30.79%' ' 30.84%' ' 28.72%' ' 11.06%' '  7.21%' ' 12.73%' ' 11.55%'
 '  8.46%' ' 29.69%' '  6.11%' '  7.84%' '  6.67%' ' 10.47%' ' 30.17%'
 ' 10.08%' ' 30.94%' ' 30.89%' ' 30.99%' nan]

grade
['B' 'E' 'C' 'D' 'A' 'F' 'G' nan]

sub_grade
['B1' 'B5' 'E1' 'C1' 'D2' 'D1' 'D4' 'B4' 'D3' 'E4' 'C2' 'C3' 'C4' 'B3'
 'E5' 'B2' 'A1' 'C5' 'A5' 'A3' 'D5' 'A4' 'E3' 'F5' 'A2' 'E2' 'F4' 'G1'
 'G2' 'F1' 'F2' 'F3' 'G4' 'G3' 'G5' nan]

emp_title
[nan 'Security' 'Chef' ... 'Oncology Medical Assistant' 'Tax Consultant'
 'Payoff Clerk']

emp_length
['< 1 year' nan '3 years' '10+ years' '6 years' '5 years' '2 years'
 '9 years' '1 year' '7 years' '8 years' '4 years']

home_ownership
['MORTGAGE' 'RENT' 'OWN' 'ANY' nan]

verification_status
['Not Verified' 'Source Verified' 'Verified' nan]

issue_d
['Dec-2018' 'Nov-2018' 'Oct-2018' nan]

loan_status
['Current' 'Fully Paid' 'Late (16-30 days)' 'Late (31-120 days)'
 'In Grace Period' 'Charged Off' 'Default' nan]

pymnt_plan
['n' 'y' nan]

purpose
['debt_consolidation' 'home_improvement' 'credit_card' 'other' 'car'
 'major_purchase' 'vacation' 'house' 'small_business' 'renewable_energy'
 'medical' 'moving' nan]

title
['Debt consolidation' 'Home improvement' 'Credit card refinancing' 'Other'
 'Car financing' 'Major purchase' 'Vacation' 'Home buying' 'Business'
 'Green loan' 'Medical expenses' 'Moving and relocation' nan]

zip_code
['974xx' '401xx' '070xx' '109xx' '713xx' '490xx' '672xx' '357xx' '231xx'
 '180xx' '648xx' '284xx' '290xx' '756xx' '191xx' '265xx' '078xx' '656xx'
 '920xx' '917xx' '711xx' '315xx' '480xx' '977xx' '921xx' '633xx' '159xx'
 '936xx' '606xx' '703xx' '151xx' '477xx' '800xx' '716xx' '201xx' '028xx'
 '366xx' '605xx' '906xx' '912xx' '309xx' '493xx' '280xx' '104xx' '775xx'
 '112xx' '750xx' '432xx' '778xx' '857xx' '054xx' '130xx' '796xx' '350xx'
 '456xx' '458xx' '200xx' '087xx' '333xx' '300xx' '928xx' '797xx' '853xx'
 '559xx' '731xx' '380xx' '431xx' '671xx' '951xx' '018xx' '483xx' '088xx'
 '270xx' '681xx' '815xx' '945xx' '020xx' '347xx' '787xx' '232xx' '339xx'
 '295xx' '841xx' '601xx' '427xx' '462xx' '371xx' '891xx' '982xx' '150xx'
 '786xx' '902xx' '604xx' '301xx' '451xx' '336xx' '660xx' '600xx' '120xx'
 '117xx' '038xx' '983xx' '210xx' '760xx' '027xx' '801xx' '356xx' '992xx'
 '325xx' '017xx' '238xx' '079xx' '953xx' '352xx' '785xx' '471xx' '895xx'
 '925xx' '021xx' '774xx' '747xx' '273xx' '980xx' '282xx' '226xx' '984xx'
 '913xx' '068xx' '840xx' '278xx' '413xx' '114xx' '618xx' '871xx' '368xx'
 '100xx' '322xx' '152xx' '220xx' '554xx' '212xx' '704xx' '292xx' '115xx'
 '030xx' '685xx' '549xx' '802xx' '064xx' '302xx' '062xx' '486xx' '287xx'
 '154xx' '946xx' '933xx' '779xx' '934xx' '629xx' '346xx' '989xx' '646xx'
 '482xx' '611xx' '405xx' '919xx' '234xx' '752xx' '436xx' '453xx' '720xx'
 '741xx' '937xx' '310xx' '156xx' '850xx' '628xx' '985xx' '461xx' '460xx'
 '327xx' '612xx' '444xx' '283xx' '425xx' '066xx' '217xx' '537xx' '973xx'
 '970xx' '335xx' '531xx' '316xx' '337xx' '331xx' '194xx' '277xx' '693xx'
 '208xx' '602xx' '805xx' '193xx' '334xx' '882xx' '330xx' '430xx' '922xx'
 '342xx' '225xx' '553xx' '986xx' '736xx' '349xx' '468xx' '981xx' '448xx'
 '870xx' '086xx' '297xx' '450xx' '440xx' '941xx' '435xx' '132xx' '163xx'
 '852xx' '386xx' '708xx' '755xx' '993xx' '190xx' '488xx' '751xx' '806xx'
 '121xx' '864xx' '950xx' '169xx' '836xx' '978xx' '890xx' '766xx' '701xx'
 '276xx' '420xx' '221xx' '532xx' '065xx' '894xx' '463xx' '207xx' '454xx'
 '958xx' '550xx' '359xx' '911xx' '481xx' '140xx' '631xx' '258xx' '673xx'
 '229xx' '133xx' '296xx' '765xx' '288xx' '652xx' '142xx' '680xx' '326xx'
 '657xx' '329xx' '056xx' '442xx' '402xx' '770xx' '781xx' '206xx' '948xx'
 '441xx' '105xx' '255xx' '782xx' '905xx' '640xx' '700xx' '216xx' '125xx'
 '927xx' '275xx' '199xx' '644xx' '107xx' '085xx' '338xx' '956xx' '281xx'
 '173xx' '381xx' '565xx' '907xx' '103xx' '900xx' '790xx' '328xx' '761xx'
 '181xx' '145xx' '396xx' '075xx' '382xx' '157xx' '834xx' '131xx' '923xx'
 '421xx' '171xx' '446xx' '935xx' '084xx' '179xx' '794xx' '272xx' '799xx'
 '793xx' '388xx' '370xx' '582xx' '111xx' '541xx' '372xx' '926xx' '223xx'
 '029xx' '067xx' '034xx' '730xx' '762xx' '324xx' '187xx' '025xx' '314xx'
 '967xx' '957xx' '452xx' '303xx' '952xx' '060xx' '320xx' '317xx' '243xx'
 '932xx' '299xx' '063xx' '124xx' '082xx' '211xx' '254xx' '833xx' '077xx'
 '856xx' '560xx' '609xx' '245xx' '674xx' '960xx' '016xx' '341xx' '544xx'
 '023xx' '780xx' '174xx' '881xx' '153xx' '361xx' '160xx' '610xx' '930xx'
 '622xx' '144xx' '360xx' '791xx' '712xx' '410xx' '535xx' '247xx' '240xx'
 '972xx' '046xx' '924xx' '134xx' '494xx' '478xx' '863xx' '083xx' '182xx'
 '307xx' '061xx' '305xx' '564xx' '241xx' '530xx' '209xx' '119xx' '433xx'
 '898xx' '495xx' '551xx' '846xx' '014xx' '183xx' '705xx' '914xx' '641xx'
 '080xx' '449xx' '400xx' '019xx' '474xx' '351xx' '949xx' '113xx' '286xx'
 '073xx' '101xx' '844xx' '122xx' '691xx' '996xx' '727xx' '718xx' '558xx'
 '804xx' '908xx' '367xx' '264xx' '377xx' '707xx' '546xx' '373xx' '489xx'
 '135xx' '363xx' '074xx' '721xx' '321xx' '724xx' '910xx' '706xx' '851xx'
 '466xx' '939xx' '822xx' '076xx' '391xx' '874xx' '617xx' '011xx' '215xx'
 '619xx' '423xx' '484xx' '184xx' '042xx' '666xx' '390xx' '376xx' '189xx'
 '809xx' '726xx' '010xx' '274xx' '837xx' '598xx' '230xx' '740xx' '469xx'
 '285xx' '170xx' '365xx' '242xx' '244xx' '539xx' '540xx' '071xx' '585xx'
 '975xx' '492xx' '467xx' '773xx' '015xx' '294xx' '197xx' '940xx' '954xx'
 '032xx' '548xx' '168xx' '971xx' '792xx' '313xx' '039xx' '031xx' '955xx'
 '608xx' '239xx' '253xx' '024xx' '570xx' '195xx' '684xx' '630xx' '228xx'
 '491xx' '143xx' '827xx' '149xx' '561xx' '379xx' '613xx' '250xx' '880xx'
 '764xx' '398xx' '473xx' '635xx' '224xx' '383xx' '176xx' '968xx' '897xx'
 '594xx' '624xx' '620xx' '175xx' '164xx' '803xx' '662xx' '931xx' '999xx'
 '155xx' '757xx' '395xx' '298xx' '944xx' '378xx' '235xx' '384xx' '547xx'
 '783xx' '323xx' '995xx' '650xx' '826xx' '668xx' '571xx' '499xx' '734xx'
 '172xx' '918xx' '860xx' '219xx' '108xx' '069xx' '754xx' '714xx' '344xx'
 '081xx' '013xx' '855xx' '777xx' '057xx' '557xx' '816xx' '859xx' '626xx'
 '271xx' '406xx' '586xx' '141xx' '670xx' '637xx' '728xx' '148xx' '403xx'
 '040xx' '776xx' '479xx' '959xx' '737xx' '185xx' '729xx' '188xx' '257xx'
 '434xx' '746xx' '767xx' '308xx' '437xx' '607xx' '676xx' '443xx' '053xx'
 '214xx' '358xx' '916xx' '106xx' '236xx' '304xx' '722xx' '457xx' '374xx'
 '808xx' '161xx' '044xx' '784xx' '763xx' '127xx' '198xx' '293xx' '820xx'
 '033xx' '943xx' '037xx' '158xx' '415xx' '128xx' '811xx' '146xx' '385xx'
 '110xx' '825xx' '049xx' '661xx' '177xx' '810xx' '472xx' '616xx' '319xx'
 '497xx' '915xx' '688xx' '723xx' '587xx' '832xx' '259xx' '710xx' '903xx'
 '022xx' '677xx' '072xx' '129xx' '807xx' '795xx' '354xx' '725xx' '789xx'
 '291xx' '422xx' '262xx' '566xx' '545xx' '843xx' '658xx' '879xx' '997xx'
 '627xx' '988xx' '813xx' '465xx' '588xx' '052xx' '498xx' '562xx' '496xx'
 '261xx' '047xx' '543xx' '279xx' '719xx' '655xx' '260xx' '645xx' '147xx'
 '464xx' '089xx' '116xx' '614xx' '990xx' '043xx' '411xx' '487xx' '136xx'
 '306xx' '748xx' '404xx' '026xx' '218xx' '394xx' '615xx' '268xx' '573xx'
 '838xx' '759xx' '475xx' '455xx' '599xx' '476xx' '355xx' '249xx' '447xx'
 '051xx' '222xx' '738xx' '397xx' '445xx' '675xx' '534xx' '947xx' '196xx'
 '045xx' '048xx' '749xx' '438xx' '683xx' '625xx' '689xx' '597xx' '654xx'
 '470xx' '407xx' '166xx' '667xx' '595xx' '824xx' '651xx' '647xx' '387xx'
 '788xx' '412xx' '768xx' '686xx' '050xx' '904xx' '735xx' '574xx' '590xx'
 '744xx' '998xx' '814xx' '665xx' '178xx' '392xx' '439xx' '745xx' '577xx'
 '664xx' '593xx' '123xx' '118xx' '126xx' '416xx' '035xx' '976xx' '653xx'
 '596xx' '812xx' '639xx' '743xx' '580xx' '485xx' '603xx' '875xx' '845xx'
 '424xx' '227xx' '678xx' '563xx' '979xx' '233xx' '246xx' '389xx' '687xx'
 '012xx' '769xx' '186xx' '962xx' '138xx' '961xx' '991xx' '847xx' '542xx'
 '567xx' '318xx' '165xx' '835xx' '364xx' '312xx' '248xx' '878xx' '636xx'
 '638xx' '893xx' '623xx' '963xx' '829xx' '538xx' '584xx' '884xx' '831xx'
 '591xx' '592xx' '237xx' '798xx' '139xx' '408xx' '263xx' '830xx' '581xx'
 '758xx' '393xx' '251xx' '994xx' '426xx' '572xx' '717xx' '162xx' '634xx'
 '739xx' '137xx' '575xx' '883xx' '266xx' '102xx' '873xx' '289xx' '362xx'
 '690xx' '041xx' '036xx' '819xx' '256xx' '369xx' '877xx' '252xx' '669xx'
 '865xx' '204xx' '409xx' '167xx' '828xx' '058xx' '267xx' '091xx' '414xx'
 '332xx' '090xx' '583xx' '096xx' '772xx' '576xx' '097xx' '059xx' '679xx'
 '556xx' '696xx' '094xx' '753xx' '823xx' '523xx' '098xx' '418xx' '340xx'
 '417xx' '901xx' '821xx' '733xx' '503xx' '095xx' '965xx' nan]

addr_state
['OR' 'KY' 'NJ' 'NY' 'LA' 'MI' 'KS' 'AL' 'VA' 'PA' 'MO' 'NC' 'SC' 'TX'
 'WV' 'CA' 'GA' 'IL' 'IN' 'CO' 'AR' 'RI' 'OH' 'AZ' 'VT' 'DC' 'FL' 'MN'
 'OK' 'TN' 'MA' 'NE' 'UT' 'NV' 'WA' 'NH' 'MD' 'CT' 'NM' 'WI' 'MS' 'ID'
 'DE' 'ND' 'HI' 'ME' 'AK' 'WY' 'MT' 'SD' nan]

earliest_cr_line
['Jan-1996' 'Nov-2003' 'Sep-2006' 'Apr-2001' 'Jun-1987' 'Apr-2011'
 'Feb-1997' 'Jan-1995' 'Aug-2005' 'Apr-2005' 'Oct-2005' 'Sep-2010'
 'Oct-1999' 'May-2007' 'Sep-2003' 'Oct-2004' 'Aug-2009' 'Dec-2004'
 'Oct-2007' 'Nov-2001' 'Mar-2005' 'Apr-2006' 'Feb-1999' 'Dec-2009'
 'Feb-2003' 'Jan-2011' 'Sep-2012' 'Jul-2013' 'Jul-2005' 'Sep-2011'
 'Aug-1999' 'Dec-1991' 'Jul-1991' 'Apr-1988' 'Oct-2014' 'Nov-2006'
 'Jul-2002' 'Sep-2009' 'May-2010' 'Oct-2001' 'Aug-2001' 'Oct-2000'
 'Oct-2011' 'Mar-1974' 'Jul-2007' 'Feb-1998' 'Jan-2006' 'Mar-2006'
 'Aug-2003' 'Jun-2009' 'Jan-2008' 'May-2004' 'Nov-2013' 'Jan-2009'
 'Sep-1985' 'Feb-1991' 'Nov-1986' 'Jan-2004' 'Nov-2002' 'Sep-1994'
 'Aug-1996' 'Aug-2004' 'Mar-2000' 'Jun-2015' 'Apr-2013' 'Sep-2000'
 'Jun-1979' 'Dec-1989' 'Oct-1997' 'Aug-2000' 'Aug-1987' 'Oct-2008'
 'Nov-2004' 'Dec-2006' 'Mar-2007' 'Jan-2002' 'Sep-1984' 'Jul-2010'
 'Mar-1998' 'Jun-1991' 'Apr-2007' 'Sep-1996' 'Sep-1991' 'Apr-1995'
 'Mar-1999' 'Mar-2010' 'May-2005' 'Jul-1995' 'Apr-2000' 'Oct-1994'
 'Jul-1987' 'Oct-2009' 'Jan-1997' 'Dec-2003' 'Oct-1993' 'Dec-1997'
 'Mar-1991' 'Sep-1998' 'Aug-2011' 'Aug-2010' 'Apr-1999' 'Jul-1997'
 'Sep-1988' 'Sep-2008' 'Jan-2000' 'Jan-2005' 'Feb-2007' 'Dec-2005'
 'Jan-2012' 'Apr-2002' 'Jun-2003' 'Jul-1990' 'Dec-1988' 'May-2015'
 'Nov-1999' 'Dec-1998' 'Aug-1989' 'Feb-2006' 'Apr-2012' 'Apr-2014'
 'Jul-1999' 'Feb-2014' 'Mar-1993' 'May-2009' 'Aug-1993' 'May-1998'
 'Nov-1984' 'Apr-2003' 'Jun-2007' 'May-2003' 'Feb-1996' 'Nov-2007'
 'Jul-1986' 'Nov-2014' 'Jul-1992' 'Aug-2006' 'Oct-1988' 'Feb-2005'
 'Aug-2002' 'Oct-2003' 'Apr-2004' 'Aug-1990' 'Dec-1990' 'Mar-2009'
 'Apr-1989' 'Jun-2006' 'Jan-2014' 'May-1975' 'Oct-1996' 'Dec-1994'
 'Oct-2006' 'Jul-2014' 'Jun-1995' 'Dec-2002' 'Oct-2010' 'Feb-2001'
 'Sep-1999' 'Dec-2000' 'Sep-2002' 'Nov-1997' 'Aug-1998' 'Mar-2014'
 'Aug-2007' 'Jul-1996' 'Jan-1991' 'Aug-2008' 'Dec-2007' 'Sep-1997'
 'Mar-2002' 'Mar-2011' 'Jun-2000' 'Jun-2004' 'May-1973' 'May-2008'
 'Jan-2003' 'Jun-2008' 'Mar-2004' 'Feb-2008' 'Jan-1993' 'Mar-2003'
 'Aug-1997' 'Feb-2009' 'Jul-2003' 'Aug-1992' 'Sep-2005' 'Nov-1993'
 'Oct-1991' 'Jul-1983' 'Nov-2005' 'Apr-1998' 'Jan-2001' 'Nov-2000'
 'Jun-1998' 'Aug-2013' 'Apr-2009' 'Jul-2004' 'May-2001' 'Dec-2008'
 'Apr-1993' 'Dec-1995' 'Sep-2007' 'Aug-2012' 'Sep-2001' 'May-2000'
 'Mar-1987' 'Feb-2015' 'Oct-1992' 'Apr-1994' 'Feb-1985' 'Feb-1989'
 'Jun-2012' 'Aug-1972' 'Nov-2011' 'Jun-1981' 'May-1994' 'Mar-2015'
 'Jul-2008' 'Dec-1996' 'Jan-1994' 'Jul-2015' 'Jan-2015' 'Feb-2011'
 'Feb-2004' 'May-2002' 'Oct-2002' 'Jun-2011' 'Jan-1998' 'Dec-2001'
 'Jan-1990' 'Mar-2012' 'Jun-2005' 'Mar-2001' 'Jun-1999' 'Mar-1979'
 'Jul-1998' 'Jan-1988' 'Nov-1983' 'Jun-2014' 'Dec-2014' 'Sep-2004'
 'Jan-2007' 'Jun-1989' 'Oct-2015' 'Jul-2012' 'Mar-2008' 'Nov-1994'
 'Dec-1972' 'Nov-1995' 'Nov-1992' 'May-2014' 'May-1997' 'Feb-2000'
 'Jun-1994' 'Nov-1988' 'Oct-1987' 'Nov-1991' 'Feb-1982' 'Apr-1986'
 'Apr-1991' 'Nov-1998' 'Jul-2009' 'Jun-1970' 'Jul-2001' 'Oct-1995'
 'May-2006' 'Jan-1987' 'May-1995' 'Mar-1996' 'Jun-1988' 'Apr-1984'
 'May-1991' 'Jul-2006' 'Jul-2000' 'Mar-1990' 'Dec-2012' 'Nov-1996'
 'Apr-1978' 'Feb-2002' 'Nov-2009' 'Jun-1990' 'Mar-1994' 'Aug-1985'
 'May-1996' 'Nov-1978' 'Sep-1993' 'May-1993' 'Jun-1986' 'Jun-1992'
 'Dec-2013' 'Mar-2013' 'May-1985' 'Nov-1982' 'Aug-1995' 'Oct-1985'
 'May-2012' 'May-1987' 'Jun-1982' 'Nov-2012' 'May-2011' 'Feb-2012'
 'Feb-1993' 'Jan-1980' 'Mar-1988' 'Sep-1989' 'Aug-1986' 'Jan-1999'
 'Oct-1998' 'Jun-2013' 'Mar-1995' 'Dec-2011' 'Oct-2013' 'Nov-2010'
 'Nov-2008' 'May-1984' 'Jun-1993' 'Dec-1993' 'Dec-2010' 'Apr-2008'
 'Oct-1986' 'Aug-1984' 'Feb-1990' 'Dec-1992' 'Sep-2013' 'Sep-1995'
 'Jun-2010' 'Jul-1993' 'Jul-2011' 'Feb-1994' 'Jun-2002' 'Mar-1997'
 'Jul-1989' 'Aug-2014' 'Feb-2010' 'Jul-1994' 'Aug-1994' 'Jul-1988'
 'May-1986' 'Apr-1990' 'Oct-2012' 'Jul-1985' 'May-1982' 'Dec-1982'
 'Feb-2013' 'Jun-1996' 'Jul-1979' 'Dec-1999' 'May-1988' 'Dec-1986'
 'Jun-2001' 'Mar-1983' 'Aug-2015' 'May-1999' 'Mar-1989' 'Apr-1997'
 'Apr-1985' 'Dec-1987' 'Nov-1989' 'Apr-1992' 'Feb-1983' 'Feb-1987'
 'Feb-1981' 'Jan-1979' 'Dec-1978' 'Jun-1997' 'Nov-1970' 'Jan-1985'
 'Aug-1978' 'Apr-1983' 'Aug-1988' 'Dec-1984' 'Aug-1991' 'May-2013'
 'May-1989' 'Aug-1975' 'Jul-1981' 'Jan-2010' 'Sep-1978' 'Jul-1971'
 'Sep-1986' 'May-1977' 'Sep-1972' 'Oct-1977' 'Feb-1979' 'Nov-1979'
 'Oct-1984' 'Dec-1981' 'Sep-2014' 'Feb-1977' 'Nov-1977' 'Nov-1965'
 'Jul-1978' 'Oct-1989' 'Aug-1982' 'Sep-1981' 'Jul-1984' 'Sep-2015'
 'Nov-1981' 'Jan-2013' 'Sep-1982' 'May-1983' 'Apr-1987' 'Apr-1996'
 'Mar-1978' 'Nov-1985' 'Mar-1981' 'Sep-1980' 'Oct-1990' 'Dec-1985'
 'Oct-1974' 'Oct-1982' 'Mar-1984' 'Dec-1977' 'Jan-1982' 'Mar-1992'
 'Sep-1973' 'Sep-1992' 'Feb-1995' 'Nov-1990' 'Apr-1980' 'May-1974'
 'Oct-1983' 'Sep-1990' 'Aug-1980' 'May-1990' 'Nov-1987' 'Jun-1976'
 'Jan-1975' 'Apr-2015' 'May-1992' 'Sep-1987' 'Jan-1992' 'Jul-1980'
 'Oct-1980' 'Jan-1984' 'Feb-1978' 'Jan-1986' 'Feb-1973' 'Apr-1979'
 'Jun-1983' 'Feb-1971' 'Oct-1975' 'Feb-1986' 'Apr-1976' 'Dec-1971'
 'Jun-1985' 'Feb-1976' 'Jan-1970' 'Mar-1985' 'Oct-1978' 'Nov-1976'
 'Jun-1984' 'Aug-1976' 'Jul-1977' 'Nov-1968' 'Sep-1983' 'May-1969'
 'Nov-1980' 'Mar-1975' 'Dec-1980' 'Apr-2010' 'Feb-1984' 'Mar-1976'
 'Mar-1970' 'Dec-1979' 'Jan-1989' 'Feb-1992' 'Oct-1981' 'Apr-1982'
 'Mar-1977' 'Feb-1988' 'May-1976' 'Apr-1981' 'Dec-1983' 'May-1961'
 'Aug-1977' 'Nov-1975' 'Oct-1969' 'Apr-1962' 'May-1978' 'Jul-1967'
 'Jul-1982' 'Nov-2015' 'Oct-1976' 'Apr-1977' 'Jul-1976' 'Jun-1972'
 'Mar-1986' 'Jun-1967' 'Mar-1980' 'May-1979' 'Aug-1971' 'May-1981'
 'Jan-1983' 'Jun-1977' 'Jan-1977' 'Mar-1982' 'Sep-1979' 'Jan-1981'
 'Jan-1973' 'Jan-1978' 'Mar-1971' 'May-1964' 'Feb-1980' 'Jul-1974'
 'Jul-1973' 'Aug-1973' 'May-1965' 'Jan-1974' 'Aug-1974' 'Jan-1967'
 'Apr-1975' 'Aug-1981' 'Sep-1971' 'Jun-1978' 'Mar-1973' 'Sep-1970'
 'Jun-1965' 'Apr-1971' 'Nov-1974' 'Sep-1976' 'May-1980' 'Aug-1979'
 'Apr-1963' 'Oct-1970' 'Jan-1976' 'Dec-1976' 'Feb-1966' 'Dec-1968'
 'Apr-1973' 'Jan-1969' 'Jan-1954' 'Sep-1977' 'Sep-1974' 'Jun-1980'
 'Jan-1968' 'Dec-1975' 'Jul-1975' 'Aug-1969' 'Aug-1983' 'Jan-1971'
 'Jul-1968' 'Apr-1972' 'Nov-1973' 'Jan-1950' 'Jun-1974' 'Jul-1950'
 'Apr-1968' 'Jan-1963' 'Oct-1972' 'Nov-1966' 'Dec-1967' 'Aug-1966'
 'May-1972' 'Sep-1964' 'Mar-1972' 'Oct-1973' 'Jan-1958' 'Dec-1973'
 'Feb-1972' 'Aug-1967' 'Oct-1965' 'Feb-1963' 'Feb-1970' 'Oct-1979'
 'Feb-1974' 'Jan-1972' 'Apr-1964' 'Feb-1969' 'Sep-1975' 'Aug-1970'
 'Jul-1965' 'Dec-1970' 'May-1971' 'Jan-1956' 'Apr-1965' 'Apr-1970'
 'Sep-1965' 'Mar-1965' 'Dec-1974' 'Dec-1966' 'Jan-1965' 'Jan-1960'
 'Nov-1959' 'May-1968' 'Jun-1975' 'Jun-1969' 'Jan-1962' 'Apr-1974'
 'Feb-1967' 'May-1970' 'Sep-1969' 'Aug-1968' 'Apr-1969' 'Mar-1962'
 'Jun-1973' 'Oct-1961' 'Apr-1967' 'Oct-1964' 'Jan-1959' 'Dec-1969'
 'Jun-1964' 'Mar-1968' 'Sep-1967' 'Mar-1969' 'Mar-1967' 'Jul-1969'
 'May-1967' 'Nov-1971' 'Nov-1972' 'Jan-1961' 'Feb-1975' 'Jun-1968'
 'Feb-1962' 'Jul-1966' 'Dec-1964' 'Sep-1966' 'Sep-1963' 'Aug-1962'
 'Jan-1966' 'Nov-1964' 'Oct-1968' 'Mar-1954' 'Aug-1963' 'Jan-1964'
 'Nov-1967' 'Jul-1964' 'Sep-1968' 'Jun-1971' 'Oct-1971' 'Dec-1965'
 'Oct-1966' 'Jul-1972' 'Feb-1965' 'Jun-1966' 'Aug-1964' 'Jul-1970'
 'Apr-1966' 'May-1966' 'Sep-1962' 'Oct-1967' 'Apr-1960' 'Jun-1963'
 'Nov-1969' 'Dec-1962' nan]

revol_util
['38%' '11.5%' '19.2%' ... '103.9%' '106.3%' '123.8%']

initial_list_status
['w' 'f' nan]

last_pymnt_d
['Apr-2019' 'Mar-2019' 'Feb-2019' 'Jan-2019' nan 'Dec-2018' 'Nov-2018'
 'Oct-2018']

next_pymnt_d
['Apr-2019' 'May-2019' nan 'Jun-2019']

last_credit_pull_d
['Apr-2019' 'Dec-2018' 'Mar-2019' 'Feb-2019' 'Jan-2019' nan 'Nov-2018'
 'Oct-2018' 'Sep-2018' 'Aug-2018']

application_type
['Individual' 'Joint App' nan]

hardship_flag
['N' 'Y' nan]

debt_settlement_flag
['N' 'Y' nan]

In [0]:
# trim whitespaces for all non-numeric columns
my_data = my_data.apply(lambda x: x.str.strip() if x.dtype == "object" else x)

## Work with strings

For machine learning, we usually want to replace strings with numbers.

We can get info about which columns have a datatype of "object" (strings)

### Covert column 'term'

In [289]:
my_data['term'].head()

0    36 months
1    36 months
2    36 months
3    36 months
4    60 months
Name: term, dtype: object

In [290]:
type(my_data['term'][0])

str

In [291]:
# AttributeError: 'float' object has no attribute 'strip'
# my_data['term_1'] = my_data['term'].apply(lambda x: x.strip(' months')) # this error is caused by NA values
my_data['term_1'] = my_data['term'].astype(str).apply(lambda x: x.strip(' months')) # if do so, then we will need deal with "NaN" strings
my_data['term_1'].head()

0    36
1    36
2    36
3    36
4    60
Name: term_1, dtype: object

In [292]:
# instead we could first replace the NA values with some string
tmp = my_data['term'].fillna('0 months')
tmp[tmp =='0 months']

128412    0 months
128413    0 months
Name: term, dtype: object

In [293]:
# fill NAs and strip
my_data['term_1'] = my_data['term'].fillna('0 months').apply(lambda x: x.strip(' months'))
my_data['term_1'].head()

0    36
1    36
2    36
3    36
4    60
Name: term_1, dtype: object

In [294]:
# check result
my_data[my_data['term_1']=='0']

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,policy_code,application_type,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_act_il,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,acc_open_past_24mths,avg_cur_bal,bc_open_to_buy,bc_util,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,mths_since_recent_inq,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,hardship_flag,debt_settlement_flag,term_1
128412,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
128413,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0

In [295]:
# there are only 2 different types of value, 36 months and 60 months (now 0 months), so we are going to convert the type from 'str' to 'int'
my_data['term_1'] = my_data['term'].fillna('0 months').apply(lambda x: x.strip(' months')).astype('int')
my_data[my_data['term_1']==0]

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,policy_code,application_type,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_act_il,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,acc_open_past_24mths,avg_cur_bal,bc_open_to_buy,bc_util,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,mths_since_recent_inq,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,hardship_flag,debt_settlement_flag,term_1
128412,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
128413,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0

### Convert `int_rate`

Define a function to remove percent signs from strings and convert to floats

Apply the function to the `int_rate` column

In [296]:
# fill NAs and strip
my_data['int_rate_1'] = my_data['int_rate'].fillna('0%').apply(lambda x: x.strip('%')).astype('float')
my_data['int_rate_1'].head()

0    10.33
1    12.98
2    23.40
3    13.56
4    18.94
Name: int_rate_1, dtype: float64

In [297]:
my_data[my_data['int_rate_1']==0].head()

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,policy_code,application_type,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_act_il,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,acc_open_past_24mths,avg_cur_bal,bc_open_to_buy,bc_util,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,mths_since_recent_inq,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,hardship_flag,debt_settlement_flag,term_1,int_rate_1
128412,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0.0
128413,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0.0

### Clean `emp_title`

Look at top 20 titles

In [298]:
my_data['emp_title'].head()

0           NaN
1           NaN
2      Security
3          Chef
4    Postmaster
Name: emp_title, dtype: object

How often is `emp_title` null?

In [0]:
# 0.163136 = 16% of its fields are null.

Clean the title and handle missing values

In [300]:
# fill NAs and strip
my_data['emp_title_1'] = my_data['emp_title'].fillna('Unknown').apply(lambda x: x.title())
my_data['emp_title_1'].head()

0       Unknown
1       Unknown
2      Security
3          Chef
4    Postmaster
Name: emp_title_1, dtype: object

### Create `emp_title_manager`

pandas documentation: [`str.contains`](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.str.contains.html)

In [301]:
# list 20 unique values of this column
[t for t in my_data['emp_title_1'].unique()][:20]

['Unknown',
 'Security',
 'Chef',
 'Postmaster',
 'Administrative',
 'Operator',
 'Manager',
 'Nursing Supervisor',
 'Material Handler',
 'Instructional Coordinator',
 'Financial Relationship Associate',
 'Sale Representative',
 'Driver Coordinator',
 'Gas Attendant',
 'Assistant Athletic Director Of Marketing',
 'Sr Sales Manager',
 'Casino Host',
 'Carpenter',
 'Maintenance Planner',
 'Firefighter/Captain']

In [302]:
my_data['emp_title_manager'] = my_data['emp_title_1'].str.contains('manager', case=False, regex=False).astype(int)
my_data['emp_title_manager'].head()

0    0
1    0
2    0
3    0
4    0
Name: emp_title_manager, dtype: int64

## Work with dates

pandas documentation
- [to_datetime](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.to_datetime.html)
- [Time/Date Components](https://pandas.pydata.org/pandas-docs/stable/timeseries.html#time-date-components) "You can access these properties via the `.dt` accessor"

In [303]:
my_data['issue_d'].head()

0    Dec-2018
1    Dec-2018
2    Dec-2018
3    Dec-2018
4    Dec-2018
Name: issue_d, dtype: object

In [304]:
print(datetime.today().day)

31

In [305]:
# check NAs
my_data['issue_d'].isna().sum()

2

In [306]:
# test run
my_data['issue_d'].head().apply(lambda x: datetime.strptime(x, '%b-%Y'))

0   2018-12-01
1   2018-12-01
2   2018-12-01
3   2018-12-01
4   2018-12-01
Name: issue_d, dtype: datetime64[ns]

In [307]:
my_data['issue_d_1'] = my_data['issue_d'].fillna('Jan-1970').apply(lambda x: datetime.strptime(x, '%b-%Y'))
my_data['issue_d_1'].head()

0   2018-12-01
1   2018-12-01
2   2018-12-01
3   2018-12-01
4   2018-12-01
Name: issue_d_1, dtype: datetime64[ns]

In [308]:
# Those two rows are missing a lot of fields. 
# Given that the dataset has large number of rows, 
# I think we can simply drop those two rows.
my_data[my_data['issue_d_1']=='1970-01-01']

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,policy_code,application_type,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_act_il,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,acc_open_past_24mths,avg_cur_bal,bc_open_to_buy,bc_util,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,mths_since_recent_inq,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,hardship_flag,debt_settlement_flag,term_1,int_rate_1,emp_title_1,emp_title_manager,issue_d_1
128412,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0.0,Unknown,0,1970-01-01
128413,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0.0,Unknown,0,1970-01-01

# ASSIGNMENT

- Replicate the lesson code.

- Convert the `term` column from string to integer.

- Make a column named `loan_status_is_great`. It should contain the integer 1 if `loan_status` is "Current" or "Fully Paid." Else it should contain the integer 0.

- Make `last_pymnt_d_month` and `last_pymnt_d_year` columns.

In [0]:
# 'term' column has been processed in previous code blocks.

In [310]:
# Make a column named loan_status_is_great. It should contain the integer 1 if loan_status is "Current" or "Fully Paid." Else it should contain the integer 0.
my_data['loan_status'].unique()

array(['Current', 'Fully Paid', 'Late (16-30 days)', 'Late (31-120 days)',
       'In Grace Period', 'Charged Off', 'Default', nan], dtype=object)

In [311]:
my_data['load_status_is_great'] = my_data['loan_status'].fillna('Unknown').str.contains('current|fully paid', flags=re.IGNORECASE, regex=True)
my_data['load_status_is_great'].head()

0    True
1    True
2    True
3    True
4    True
Name: load_status_is_great, dtype: bool

In [312]:
# verify result
my_data[my_data['load_status_is_great']==True][['load_status_is_great', 'loan_status']].head()

   load_status_is_great loan_status
0                  True     Current
1                  True     Current
2                  True     Current
3                  True     Current
4                  True     Current

In [313]:
# verify result
my_data[my_data['load_status_is_great']==False][['load_status_is_great', 'loan_status']].head()

     load_status_is_great        loan_status
70                  False  Late (16-30 days)
164                 False  Late (16-30 days)
185                 False  Late (16-30 days)
256                 False  Late (16-30 days)
369                 False  Late (16-30 days)

In [314]:
# Make last_pymnt_d_month and last_pymnt_d_year columns.
my_data['last_pymnt_d'].head()

0    Apr-2019
1    Apr-2019
2    Apr-2019
3    Apr-2019
4    Apr-2019
Name: last_pymnt_d, dtype: object

In [315]:
# test run: create dictionary
month_dict = dict((v, k) for (k, v) in enumerate(calendar.month_abbr))
print(month_dict)

{'': 0, 'Jan': 1, 'Feb': 2, 'Mar': 3, 'Apr': 4, 'May': 5, 'Jun': 6, 'Jul': 7, 'Aug': 8, 'Sep': 9, 'Oct': 10, 'Nov': 11, 'Dec': 12}

In [316]:
print(month_dict['Apr'])

4

In [320]:
df = my_data['last_pymnt_d'].fillna('-0').str.split('-', n=1, expand=True)
df.head()

     0     1
0  Apr  2019
1  Apr  2019
2  Apr  2019
3  Apr  2019
4  Apr  2019

In [0]:
my_data['last_pymnt_d_month'] = df[0].apply(lambda x: month_dict[x])

In [0]:
my_data['last_pymnt_d_year'] = df[1].astype('int')

162

In [333]:
# verfiy result
my_data[my_data['last_pymnt_d'].isna()][['last_pymnt_d_month', 'last_pymnt_d_year']].head()

      last_pymnt_d_month  last_pymnt_d_year
1617                   0                  0
2927                   0                  0
3140                   0                  0
3266                   0                  0
3547                   0                  0

In [0]:
# # save the data frame to .csv file on Google drive
# filepath = 'drive/My Drive/data/LoanStats_2018Q4_dropped.csv'
# my_data.to_csv(filepath)

In [0]:
# load processed data from google drive
# ...

# STRETCH OPTIONS

You can do more with the LendingClub or Instacart datasets.

LendingClub options:
- There's one other column in the dataframe with percent signs. Remove them and convert to floats. You'll need to handle missing values.
- Modify the `emp_title` column to replace titles with 'Other' if the title is not in the top 20. 
- Take initiatve and work on your own ideas!

Instacart options:
- Read [Instacart Market Basket Analysis, Winner's Interview: 2nd place, Kazuki Onodera](http://blog.kaggle.com/2017/09/21/instacart-market-basket-analysis-winners-interview-2nd-place-kazuki-onodera/), especially the **Feature Engineering** section. (Can you choose one feature from his bulleted lists, and try to engineer it with pandas code?)
- Read and replicate parts of [Simple Exploration Notebook - Instacart](https://www.kaggle.com/sudalairajkumar/simple-exploration-notebook-instacart). (It's the Python Notebook with the most upvotes for this Kaggle competition.)
- Take initiative and work on your own ideas!

In [338]:
# There's one other column in the dataframe with percent signs. Remove them and convert to floats. You'll need to handle missing values.

my_data['revol_util_1'] = my_data['revol_util'].fillna('0%').str.strip('%').astype('float')
my_data['revol_util_1'].head()

0    38.0
1    11.5
2    19.2
3    10.3
4    24.2
Name: revol_util_1, dtype: float64

In [339]:
# validate conversion
my_data[my_data['revol_util'].isna()]['revol_util_1'].head()

234     0.0
5275    0.0
5541    0.0
6104    0.0
6745    0.0
Name: revol_util_1, dtype: float64

In [346]:
# Modify the emp_title column to replace titles with 'Other' if the title is not in the top 20.
s = my_data['emp_title'].value_counts().head(20)
s

Teacher                     2267
Manager                     2022
Registered Nurse            1054
Driver                      1016
Supervisor                   970
RN                           749
Sales                        637
General Manager              583
Project Manager              572
Office Manager               569
Director                     484
Owner                        467
Truck Driver                 434
Operations Manager           431
Engineer                     366
Nurse                        355
Technician                   352
Administrative Assistant     346
Sales Manager                338
Truck driver                 327
Name: emp_title, dtype: int64

In [0]:
my_data['emp_title_1'] = my_data['emp_title'].apply(lambda x: x if x in s else 'Other')

In [368]:
# Verify result
my_data[my_data['emp_title'] == 'Teacher'][['emp_title_1', 'emp_title']].head()

    emp_title_1 emp_title
39      Teacher   Teacher
44      Teacher   Teacher
61      Teacher   Teacher
99      Teacher   Teacher
101     Teacher   Teacher

In [358]:
s_tail = my_data['emp_title'].value_counts().tail(3)
s_tail

Manager, Professional Liability    1
Administrative service             1
Machine service tech               1
Name: emp_title, dtype: int64

In [365]:
s_tail.index[0]

'Manager, Professional Liability'

In [367]:
# Verify result
my_data[my_data['emp_title'] == s_tail.index[0]][['emp_title_1', 'emp_title']].head()

     emp_title_1                        emp_title
3894       Other  Manager, Professional Liability

In [352]:
my_data['emp_title'].tail(1)

128413    NaN
Name: emp_title, dtype: object

You can uncomment and run the cells below to re-download and extract the Instacart data

In [0]:
# !wget https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz

In [0]:
# !tar --gunzip --extract --verbose --file=instacart_online_grocery_shopping_2017_05_01.tar.gz

In [0]:
# %cd instacart_2017_05_01