<a href="https://colab.research.google.com/github/zacherymoy/DS-Unit-1-Sprint-1-Dealing-With-Data/blob/master/ZacheryMoy/DS-PT-2/A-First-Look-at-Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Lambda School Data Science - A First Look at Data

## Lecture - let's explore Python DS libraries and examples!

The Python Data Science ecosystem is huge. You've seen some of the big pieces - pandas, scikit-learn, matplotlib. What parts do you want to see more of?

In [2]:
import pandas as pd
review = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/00485/google_review_ratings.csv')
review.head()

     User  Category 1  Category 2  ...  Category 23  Category 24  Unnamed: 25
0  User 1         0.0         0.0  ...          0.0          0.0          NaN
1  User 2         0.0         0.0  ...          0.0          0.0          NaN
2  User 3         0.0         0.0  ...          0.0          0.0          NaN
3  User 4         0.0         0.5  ...          0.0          0.0          NaN
4  User 5         0.0         0.0  ...          0.0          0.0          NaN

[5 rows x 26 columns]

In [3]:
review.sort_values

<bound method DataFrame.sort_values of            User  Category 1  Category 2  ...  Category 23  Category 24  Unnamed: 25
0        User 1        0.00        0.00  ...         0.00         0.00          NaN
1        User 2        0.00        0.00  ...         0.00         0.00          NaN
2        User 3        0.00        0.00  ...         0.00         0.00          NaN
3        User 4        0.00        0.50  ...         0.00         0.00          NaN
4        User 5        0.00        0.00  ...         0.00         0.00          NaN
5        User 6        0.00        0.00  ...         0.00         0.00          NaN
6        User 7        0.00        5.00  ...         0.00         0.00          NaN
7        User 8        0.00        5.00  ...         0.00         0.00          NaN
8        User 9        0.00        5.00  ...         0.00         0.00          NaN
9       User 10        0.00        5.00  ...         0.00         0.00          NaN
10      User 11        0.00        0.53  ...         0.00         0.00          NaN
11      User 12        0.00        0.53  ...         0.00         0.00          NaN
12      User 13        0.00        0.54  ...         0.00         0.00          NaN
13      User 14        0.00        0.54  ...         0.00         0.00          NaN
14      User 15        0.00        0.53  ...         0.00         0.00          NaN
15      User 16        0.00        0.52  ...         0.00         0.00          NaN
16      User 17        0.00        0.52  ...         0.00         0.00          NaN
17      User 18        0.00        0.53  ...         0.00         0.00          NaN
18      User 19        0.00        0.52  ...         0.00         0.00          NaN
19      User 20        0.00        5.00  ...         0.00         0.00          NaN
20      User 21        0.00        0.51  ...         0.00         0.00          NaN
21      User 22        0.00        5.00  ...         0.00         0.00          NaN
22      User 23        0.00        5.00  ...         0.00         0.00          NaN
23      User 24        0.00        0.51  ...         0.00         0.00          NaN
24      User 25        0.00        0.51  ...         0.00         0.00          NaN
25      User 26        0.00        0.52  ...         0.00         0.00          NaN
26      User 27        0.00        0.55  ...         0.00         0.00          NaN
27      User 28        0.00        0.51  ...         0.00         0.00          NaN
28      User 29        0.00        0.53  ...         0.00         0.00          NaN
29      User 30        0.00        0.53  ...         0.00         0.00          NaN
...         ...         ...         ...  ...          ...          ...          ...
5426  User 5427        4.41        3.63  ...         0.72         5.00          NaN
5427  User 5428        4.41        3.65  ...         0.75         0.72          NaN
5428  User 5429        4.41        3.63  ...         1.85         0.71          NaN
5429  User 5430        4.42        3.63  ...         5.00         0.71          NaN
5430  User 5431        4.42        3.63  ...         0.76         0.71          NaN
5431  User 5432        4.42        3.64  ...         0.75         0.72          NaN
5432  User 5433        4.42        3.65  ...         1.89         0.73          NaN
5433  User 5434        4.43        5.00  ...         0.78         0.75          NaN
5434  User 5435        4.44        3.67  ...         0.80         0.75          NaN
5435  User 5436        4.44        5.00  ...         0.80         0.78          NaN
5436  User 5437        4.45        3.71  ...         2.01         1.62          NaN
5437  User 5438        4.46        3.72  ...         2.04         0.80          NaN
5438  User 5439        4.47        3.73  ...         2.07         0.82          NaN
5439  User 5440        4.49        5.00  ...         2.10         0.86          NaN
5440  User 5441        4.50        2.77  ...         2.14         0.85          NaN
5441  User 5442        4.51        5.00  ...         2.18         0.86          NaN
5442  User 5443        1.52        3.80  ...         5.00         0.88          NaN
5443  User 5444        4.54        5.00  ...         5.00         0.90          NaN
5444  User 5445        4.55        3.83  ...         5.00         0.92          NaN
5445  User 5446        4.56        5.00  ...         5.00         1.58          NaN
5446  User 5447        1.32        3.87  ...         5.00         0.97          NaN
5447  User 5448        4.59        3.88  ...         5.00         5.00          NaN
5448  User 5449        4.60        5.00  ...         5.00         1.01          NaN
5449  User 5450        1.65        3.93  ...         5.00         1.59          NaN
5450  User 5451        0.91        3.94  ...         5.00         5.00          NaN
5451  User 5452        0.91        5.00  ...         5.00         1.56          NaN
5452  User 5453        0.93        5.00  ...         5.00         1.09          NaN
5453  User 5454        0.94        5.00  ...         5.00         1.11          NaN
5454  User 5455        0.95        4.05  ...         5.00         1.12          NaN
5455  User 5456        0.95        4.07  ...         5.00         1.17          NaN

[5456 rows x 26 columns]>

In [0]:
review['Category_26'] = 'Category 26'

In [0]:
review['Category_26'] = 'Category 26'

In [35]:
review.head(10)

      User  Category 1  Category 2  ...  Category 24  Unnamed: 25  Category_26
0   User 1         0.0         0.0  ...          0.0          NaN  Category 26
1   User 2         0.0         0.0  ...          0.0          NaN  Category 26
2   User 3         0.0         0.0  ...          0.0          NaN  Category 26
3   User 4         0.0         0.5  ...          0.0          NaN  Category 26
4   User 5         0.0         0.0  ...          0.0          NaN  Category 26
5   User 6         0.0         0.0  ...          0.0          NaN  Category 26
6   User 7         0.0         5.0  ...          0.0          NaN  Category 26
7   User 8         0.0         5.0  ...          0.0          NaN  Category 26
8   User 9         0.0         5.0  ...          0.0          NaN  Category 26
9  User 10         0.0         5.0  ...          0.0          NaN  Category 26

[10 rows x 27 columns]

In [33]:
review.describe()

        Category 1   Category 2  ...  Category 24  Unnamed: 25
count  5456.000000  5456.000000  ...  5455.000000     2.000000
mean      1.455720     2.319707  ...     1.560755     1.810000
std       0.827604     1.421438  ...     1.171756     1.088944
min       0.000000     0.000000  ...     0.000000     1.040000
25%       0.920000     1.360000  ...     0.880000     1.425000
50%       1.340000     1.905000  ...     1.290000     1.810000
75%       1.810000     2.682500  ...     1.660000     2.195000
max       5.000000     5.000000  ...     5.000000     2.580000

[8 rows x 24 columns]

In [36]:
review['Category_26'] = review['Category_11'] > 1.6

KeyError: ignored

In [0]:
import numpy as np

In [70]:
review['Category_26'] = np.where(review['Category_12'] > 1.6, 'Yes', 'No')

KeyError: ignored

In [66]:
import matplotlib.pyplot as plt

review[Category 2].hist()
plt.show()

SyntaxError: ignored

In [71]:
review['Category_26'] = np.where(review['Category_12'] > 1.6, 'High', 
                        np.where(review['Category_12'] >= 1.5 'Medium',
                        np.where(review['Category_12'] == 0, 'none', 'low')))
review.head()

SyntaxError: ignored

In [69]:
review.count()

User           5456
Category 1     5456
Category 2     5456
Category 3     5456
Category 4     5456
Category 5     5456
Category 6     5456
Category 7     5456
Category 8     5456
Category 9     5456
Category 10    5456
Category 11    5456
Category 12    5455
Category 13    5456
Category 14    5456
Category 15    5456
Category 16    5456
Category 17    5456
Category 18    5456
Category 19    5456
Category 20    5456
Category 21    5456
Category 22    5456
Category 23    5456
Category 24    5455
Unnamed: 25       2
Category_26    5456
dtype: int64

Left off 
https://archive.ics.uci.edu/ml/datasets/Tarvel+Review+Ratings

Go through video Left off at 55:41

## Assignment - now it's your turn

Pick at least one Python DS library, and using documentation/examples reproduce in this notebook something cool. It's OK if you don't fully understand it or get it 100% working, but do put in effort and look things up.

In [0]:
# TODO - your code here
# Use what we did live in lecture as an example

### Assignment questions

After you've worked on some code, answer the following questions in this text block:

1.  Describe in a paragraph of text what you did and why, as if you were writing an email to somebody interested but nontechnical.

2.  What was the most challenging part of what you did?

3.  What was the most interesting thing you learned?

4.  What area would you like to explore with more time?

1. I wanted to analyze a data set and set up visuals so a layperson can understand it. 
2. I'm still fairly new to data science but what was uploading yesterday isn't uploading today. I fortunately can ask my mentor questions later today to clarify what I'm doing wrong. Aside from that it's simply typing in commands for the computer to run programs. 
3. The most interesting thing I learned is how to run csvs through the computer and type in commands to analyze the data. 
4. I'm not sure what area I would like to explore with more time. Maybe import another database like scikit to better understand the data.

## Stretch goals and resources

Following are *optional* things for you to take a look at. Focus on the above assignment first, and make sure to commit and push your changes to GitHub (and since this is the first assignment of the sprint, open a PR as well).

- [pandas documentation](https://pandas.pydata.org/pandas-docs/stable/)
- [scikit-learn documentation](http://scikit-learn.org/stable/documentation.html)
- [matplotlib documentation](https://matplotlib.org/contents.html)
- [Awesome Data Science](https://github.com/bulutyazilim/awesome-datascience) - a list of many types of DS resources

Stretch goals:

- Find and read blogs, walkthroughs, and other examples of people working through cool things with data science - and share with your classmates!
- Write a blog post (Medium is a popular place to publish) introducing yourself as somebody learning data science, and talking about what you've learned already and what you're excited to learn more about.

My Medium Link: 
https://medium.com/@zacherymoy